<nav id="corporate-main-nav" class="navbar navbar-default navbar-fixed-top ">

		<div class="container">
		
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle">
					<span class="left">Menu</span>
					<div class="menu-icon">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</div>
				</button>
				<a id="zp-nav-logo" href="/">
					<div class="navbar-brand zp-logo-2c">
						<img alt="ZenPayroll logo" class="hidden" src="img/zp-logo-2c-md-d45b74cd4b67ede1586bb96a156ca1c5.png" />
					</div>
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse no-transition" id="corporate-nav-bar">
				<ul class="nav navbar-nav">
					<li>
						<a href="/tour_automatique">Tour</a>
					</li>
					<li>
						<a href="/fonctionnalites">Fonctionnalités</a>
					</li>
					<li>
						<a href="/tarif">Tarif</a>
					</li>
					<li>
						<a href="/simulateur">Simulateur</a>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li>
						<a class="btn sign-in" href="/connexion">Connexion</a>
					</li>
					<li>
						<a class="btn sign-up" href="/inscription">Essai gratuit</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>