<nav id="payroll-nav" class="navbar navbar-default navbar-fixed-top ">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle">
					<span class="left">Menu</span>
					<div class="menu-icon">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</div>
				</button>
				<a id="zp-nav-logo" href="index">
					<div class="navbar-brand zp-logo-2c">
						<img alt="ZenPayroll logo" class="hidden" src="img/zp-logo.png" />
					</div>
				</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse no-transition" id="corporate-nav-bar">
				<ul class="nav navbar-nav">
					<li><a href="automatique">Tour</a></li>
					<li><a href="fonctionnalites">Fonctionnalités</a></li>
					<li><a href="tarif">Tarif</a></li>
					<li><a href="simulateur">Simulateur</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a class="btn sign-in" href="connexion">Connexion</a></li>
					<li><a class="btn sign-up" href="inscription">Essai gratuit</a></li>
				</ul>
			</div>
		</div>
	</nav>