<!DOCTYPE html>
<html lang="fr">
 <head>
  <% include /layouts/head %> 
 </head>

<body class="corporate features">

	<% include /layouts/header %>

  
<div id="feature-automation">

  <section id="hero" class="first-section text-center text-white gradient-mint">
    <div class="container">
      <div class="row no-border">
        <div class="col-xs-12 first-section-content">
          <h4 class="text-white">Fonctionnalités</h4>
          <h1>La paie entièrement automatisée</h1>
        </div>
      </div>
    </div>
  </section>

  <div class="container-fluid" id="corporate-subnav">
  <div id="corporate-subnav-container">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="subnav-header">
        <button type="button" class="navbar-toggle">
          <span>Découvrez les fonctionnalités <b class="caret"></b></span>
        </button>
      </div>

      <% include /layouts/fun_nav %>


	  </div>
  </div>
</div>


  <section id="auto-taxes" class="browser-screenshot">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>Taxes &ndash; paid and filed</h2>

          <p>
            Never worry about calculating, filing or paying your taxes. We take care of everything so 
			you can spend time on what’s important to you and your employees.
          </p>

          <ul class="col-xs-12 vertical-features">
            <li class="row">
              <div class="col-xs-1 feature-icon">
                <img alt="Tax Calculations and Payments Icon" class="img-responsive" src="img/icon-tax-calc-file-ee713cf6a556058eb3c80dd6d6eb83e8.png" />
              </div>
              <div class="col-xs-10">
                <h4>Tax calculations & payments</h4>
                <p>
                  ZenPayroll automatically calculates your state and federal payroll taxes. We then 
				  electronically pay them to the government on your behalf.
                </p>
              </div>
            </li>

            <li class="row">
              <div class="col-xs-1 feature-icon">
                <img alt="Employee Icon" class="img-responsive" src="img/icon-tax-file-0dc3f829ff23f9ffb6f20ed279be5217.png" />
              </div>
              <div class="col-xs-10">
                <h4>Automatic tax filings</h4>
                <p>
                  No more paper forms. Beginning with your first payroll run, ZenPayroll creates and 
				  electronically files your State & Federal payroll tax documents, including all 
				  end-of-year forms such as the W-2. Access your forms online at any time.
                </p>
              </div>
            </li>
          </ul>

        </div>
        <div class="col-sm-5 col-sm-offset-1">
        </div>
      </div>
    </div>
  </section>

  <section id="autopilot" class="browser-screenshot top-divider">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>Set it and forget it</h2>
          <h4>Payroll on AutoPilot&trade;</h4>

          <p>
            Never worry about missing a deadline. With Payroll on AutoPilot&trade; activated, our 
			system will automatically process your company's payroll and let you know you’re good to go.
			Your employees will be paid on time, every time.
          </p>
          <div class="extra-time">
            <p class="text-bold">With all the time saved, feel free to:</p>

            <ul class="row list-unstyled margin-top-15px">
              <li class="col-sm-4 text-center">
                <img alt="Tea Icon" class="img-responsive margin-bottom-15px" 
				src="img/icon-tea-dotted-a14340992478218323b9ab1620d91d25.png" />
                <div class="dotted-hr"></div>
                <h5>Grab tea with a customer</h5>
              </li>

              <li class="col-sm-4 text-center">
                <img alt="Bonsai Icon" class="img-responsive margin-bottom-15px" 
				src="img/icon-bonsai-dotted-9e7def30f399a4663359ad2d21f0fc1b.png" />
                <div class="dotted-hr"></div>
                <h5>Tend to your bonsai garden</h5>
              </li>

              <li class="col-sm-4 text-center">
                <img alt="Sandals Icon" class="img-responsive margin-bottom-15px" 
				src="img/icon-sandals-dotted-2984a4e912ea429ea9ef9939a51d9907.png" />
                <div class="dotted-hr"></div>
                <h5>Go for a walk with your team</h5>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contractors" class="browser-screenshot top-divider">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>Easily pay your contractors</h2>
          <p>
              We give you the flexibility to work with independent contractors when you need them.
          </p>

          <ul class="col-xs-12 vertical-features">
            <li class="row">

              <div class="col-xs-1 feature-icon">
                <img alt="New Hire Report Icon" class="img-responsive" 
				src="img/icon-contractor-form-f1653fdd2a03d33744be22306709dbb4.png" />
              </div>

              <div class="col-xs-10">
                <h4>1099 Forms</h4>
                <p>
                  There’s no extra cost to generate 1099 forms at the end of the year. 
				  We will automatically generate and send them electronically to your contractors, 
				  plus file them with your tax documents.
                </p>
              </div>

            </li>
          </ul>

        </div>
        <div class="col-sm-5 col-sm-offset-1">
        </div>
      </div>
    </div>
  </section>

  <section id="tour-nav-buttons">
    <div class="dotted-feature-arrow left"></div>
    <div class="tour-btn-left">
      <div class="tour-nav-border dotted-top"></div>
      <a href="/avance" class="tour-btn zen-grey">
        <h4>Suivant</h4>
        <h3>Fonctionnalités avancées&nbsp;&raquo;</h3>
        <!--<p>We've got you covered</p>-->
</a>      <div class="tour-nav-border dotted-top"></div>
    </div>
  </section>

</div>

	<section id="bottom-signup-cta" class="gradient-light-gold">
		<div class="container">
			<div class="zen-rocks-header">
				<div class="zen-rocks text-center">
					<img alt="Icon-zen-rocks" src="img/icon-zen-rocks-244f5c29ad6fa91f4725d04b27201657.png" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<h3>Utilisez ZenPaye aujourd'hui</h3>
					<p>Vos 2 premiers mois sont gratuits</p>
					<form id="landing-signup-form" action="/inscription" method="GET">
						<div class="input-append">
							<button type="submit" class="btn primary">Commencez maintenant</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>


 <% include /layouts/footer %>

</body>

</html>