<!DOCTYPE html>
<html lang="fr">
 <head>
  <% include /layouts/head %> 
 </head>

<body class="corporate features">

	<% include /layouts/header %>

  
<div id="payroll-feature-automation">
  <section id="funtionality_hero" class="first-section text-center text-white gradient-mint">
    <div class="container">
      <div class="row no-border">
        <div class="col-xs-12 first-section-content">
          <h4 class="text-white">Fonctionnalités</h4>
          <h1>La paie entièrement automatisée</h1>
        </div>
      </div>
    </div>
  </section>

  <div class="container-fluid" id="corporate-subnav">
  <div id="corporate-subnav-container">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="subnav-header">
        <button type="button" class="navbar-toggle">
          <span>Découvrez les fonctionnalités <b class="caret"></b></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="corporate-subnav-bar">
        <ul class="nav navbar-nav">
          <li>
            <a href="fonctionnalites" class="">Liste complète</a>
          </li>
          <li>
            <a href="employes" class="">Employés</a>
          </li>
          <li>
            <a href="automatique" class="current">Automatique</a>
          </li>
          <li>
            <a href="avance" class="">Avancé</a>
          </li>
          <li>
            <a href="support" class="">Support</a>
          </li>
          <li>
            <a href="securite" class="">Sécurité</a>
          </li>
        </ul>
      </div>



    </div>
  </div>
</div>


  <section id="auto-taxes" class="browser-screenshot">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>Cotisations sociales – Taxes</h2>

          <p>
           Ne vous souciez plus de calculer, de déclarer et de payer vos cotisations sociales et vos taxes. Nous nous chargeons de tout afin que vous puissiez vous concentrer sur ce qui compte réellement pour vous et vos employés. 
          </p>

          <ul class="col-xs-12 vertical-features">
            <li class="row">
              <div class="col-xs-1 feature-icon">
                <img alt="Tax Calculations and Payments Icon" class="img-responsive" src="img/icon-tax.png" />
              </div>
              <div class="col-xs-10">
                <h4>Calcul & paiements</h4>
                <p>
                  ZenPaie calcul automatiquement vos cotisations sociales et vos taxes. Nous procédons à toutes les télédéclarations et au paiement pour vous. 
                </p>
              </div>
            </li>

            <li class="row">
              <div class="col-xs-1 feature-icon">
                <img alt="Employee Icon" class="img-responsive" src="img/icon-tax-file.png" />
              </div>
              <div class="col-xs-10">
                <h4>Déclarations des données sociales</h4>
                <p>
                  Plus de formulaires Cerfa à remplir. Dès votre première paie, ZenPaie procède aux déclarations des données sociales auprès des organismes de recouvrement (URSAFF, RSI, RSA). Accédez en ligne à toutes les déclarations, quand vous le souhaitez. 
                </p>
              </div>
            </li>
          </ul>

        </div>
        <div class="col-sm-5 col-sm-offset-1">
        </div>
      </div>
    </div>
  </section>

  <section id="autopilot" class="browser-screenshot top-divider">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>Configurez-la et oubliez-la</h2>
          <h4>La paie en mode Automatique</h4>

          <p>
           Ne vous souciez plus d'oublier une date limite. Avec le mode Automatique activé, notre système générera automatiquement la paie de votre société et nous vous ferons un récapitulatif. Vos employés seront toujours payés à temps. 
          </p>
          <div class="extra-time">
            <p class="text-bold">Avec tout ce temps épargné, vous pourrez:</p>

            <ul class="row list-unstyled margin-top-15px">
              <li class="col-sm-4 text-center">
                <img alt="Tea Icon" class="img-responsive margin-bottom-15px" 
        src="img/icon-tea-dotted.png" />
                <div class="dotted-hr"></div>
                <h5>Prendre un thé avec un client</h5>
              </li>

              <li class="col-sm-4 text-center">
                <img alt="Bonsai Icon" class="img-responsive margin-bottom-15px" 
        src="img/icon-bonsai-dotted.png" />
                <div class="dotted-hr"></div>
                <h5>Entretenir votre jardin japonais</h5>
              </li>

              <li class="col-sm-4 text-center">
                <img alt="Sandals Icon" class="img-responsive margin-bottom-15px" 
        src="img/icon-sandals-dotted.png" />
                <div class="dotted-hr"></div>
                <h5>    Vous promener avec votre équipe</h5>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--<section id="contractors" class="browser-screenshot top-divider">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>Easily pay your contractors</h2>
          <p>
              We give you the flexibility to work with independent contractors when you need them.
          </p>

          <ul class="col-xs-12 vertical-features">
            <li class="row">

              <div class="col-xs-1 feature-icon">
                <img alt="New Hire Report Icon" class="img-responsive" src="img/icon-contractor-form.png" />
              </div>

              <div class="col-xs-10">
                <h4>1099 Forms</h4>
                <p>
                  There’s no extra cost to generate 1099 forms at the end of the year. 
          We will automatically generate and send them electronically to your contractors, 
          plus file them with your tax documents.
                </p>
              </div>

            </li>
          </ul>

        </div>
        <div class="col-sm-5 col-sm-offset-1">
        </div>
      </div>
    </div>
  </section>-->

  <section id="tour-nav-buttons">
    <div class="dotted-feature-arrow left"></div>
    <div class="tour-btn-left">
      <div class="tour-nav-border dotted-top"></div>
      <a href="avance" class="tour-btn zen-grey">
        <h4>Suivant</h4>
        <h3>Fonctionnalités avancées&nbsp;&raquo;</h3>
        <!--<p>We've got you covered</p>--></a>
        <div class="tour-nav-border dotted-top"></div>
    </div>
  </section>

</div>

  <section id="utilize-cta" class="gradient-light-gold">
    <div class="container">
      <div class="zen-rocks-header">
        <div class="zen-rocks text-center">
          <img alt="Icon-zen-rocks" src="img/icon-zen-rocks.png" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <h3>Utilisez ZenPaye aujourd'hui</h3>
          <p>Vos 2 premiers mois sont gratuits</p>
          <form id="landing-signup-form" action="inscription" method="GET">
            <div class="input-append">
              <button type="submit" class="btn primary">Commencez maintenant</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>


 <% include /layouts/footer %>

</body>

</html>