<!DOCTYPE html>
<html lang="fr">

<head>
  <% include /layouts/head %>     
</head>


<body class="corporate features">

	<% include /layouts/header %>
	  
	<div id="feature-advanced">
		<section id="hero" class="first-section text-center text-white gradient-light-teal">
			<div class="container">
				<div class="row no-border">
					<div class="col-xs-12 first-section-content">
						<h4 class="text-white">Fonctionnalités</h4>
						<h1>Les tâches complexes simplifiées</h1>
					</div>
				</div>
			</div>
		</section>

		<div class="container-fluid" id="corporate-subnav">
			<div id="corporate-subnav-container">
				<div class="container">

					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="subnav-header">
						<button type="button" class="navbar-toggle">
							<span>Découvrez les fonctionnalités <b class="caret"></b></span>
						</button>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="corporate-subnav-bar">
        <ul class="nav navbar-nav">
          <li>
            <a href="fonctionnalites.html" class="">Liste complète</a>
          </li>
          <li>
            <a href="employes.html" class="">Employés</a>
          </li>
          <li>
            <a href="automatique.html" class="">Automatique</a>
          </li>
          <li>
            <a href="avance.html" class="current">Avancé</a>
          </li>
          <li>
            <a href="support.html" class="">Support</a>
          </li>
          <li>
            <a href="securite.html" class="">Sécurité</a>
          </li>
        </ul>
      </div>


					</div>
			</div>
		</div>


		<section id="payroll-anytime" class="browser-screenshot">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2>Parfaitement adapté</h2>
						<p>
							Vous pouvez nous confier le paiement des salaires et cotisations sociales ou continuer de les payer vous-même. Quelque soit votre choix, tout est inclus dans votre 
							<a href="tarif.html">tarif mensuel</a>.
						</p>
						<ul class="col-xs-12 vertical-features">
							<li class="row">
								<div class="col-xs-1 feature-icon">
									<img alt="Unlimited Payroll Icon" class="img-responsive" src="img/icon-unlimited-e55d650000c31393b59aed7ad17164b5.png" />
								</div>
								<div class="col-xs-10">
									<h4>Versement des accomptes ou des primes</h4>
									<p>Vous pouvez procéder à des virements n'importe quand. Inutile d'attendre la prochaine période de paie.</p>
								</div>
							</li>
							<li class="row">
								<div class="col-xs-1 feature-icon">
									<img alt="Cancel Payroll Icon" class="img-responsive" src="img/icon-cancel-pay-9912c215e80b8357c853a093e8667aa2.png" />
								</div>
								<div class="col-xs-10">
									<h4>Annuler une paie</h4>
									<p>Vous avez commis une erreur? Pas d'inquiétude &ndash; annulez facilement un salaire d'un click et recalculez-le lorsque vous êtes prêt.</p>
								</div>
							</li>
							<li class="row">
								<div class="col-xs-1 feature-icon">
									<img alt="Payment Schedule Icon" class="img-responsive" src="img/icon-pay-schedule-4b3184f46fa2b35bd2f444bf9cf095ad.png" />
								</div>
								<div class="col-xs-10">
									<h4>Des moyens de paiements flexibles</h4>
									<p>Choisissez la date et le mode de paiement des salaires et des primes.</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-md-5 col-md-offset-1">
					</div>
				</div>
			</div>
		</section>

		<section id="net-gross" class="browser-screenshot top-divider">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<h2>Du net au brut</h2>
						<ul class="col-xs-12 vertical-features">
							<li class="row">
								<div class="col-xs-1 feature-icon">
									<img alt="No Calculator Icon" class="img-responsive" src="img/icon-no-calculator-ddca84f9c5439ac9048dbb30f5fa5240.png" />
								</div>
								<div class="col-xs-10">
									<h4>Pas besoin de calculatrice</h4>
									<p>Vous devriez pouvoir verser une prime nette sans avoir à calculer la part salariale des cotisations sociales. Saisissez simplement la prime nette que vos employés devront recevoir, et nous vous calculerons le montant brut que vous devrez leur verser.</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-sm-5 col-sm-offset-1">
					</div>
				</div>
			</div>
		</section>

		<section id="payroll-reports" class="browser-screenshot top-divider">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<h2>Des rapports complets</h2>
						<p>Ayez une meilleur connaissance de vos charges salariales. Controllez les salaires, les primes, les taxes et les cotisations sociales ainsi que les transactions bancaires.</p>
						<h4 class="margin-top-30px">Types de rapport:</h4>
						<div class="row">
							<div class="col-xs-12">
								<ul class="col-md-6 margin-top-15px reports-list">
									<li><p>Transaction bancaires</p></li>
									<li><p>Paiement des cotisations sociales</p></li>
									<li><p>Paiement des taxes et impôts</p></li>									
								</ul>
								<ul class="col-md-6 margin-top-15px reports-list">
									<li><p>Livre de paie</p></li>
									<li><p>Registre unique du personnel</p></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-5 col-sm-offset-1">
					</div>
				</div>
			</div>
		</section>

		<section id="tour-nav-buttons" class="margin-top-45px">
			<div class="dotted-feature-arrow left"></div>
			<div class="tour-btn-left">
				<div class="tour-nav-border dotted-top"></div>
				<a href="support.html" class="tour-btn zen-grey">
					<h4>Suivant</h4>
					<h3>Support&nbsp;&raquo;</h3>
					<!--<p>Payroll that plays nicely with others</p>-->
				</a>
				<div class="tour-nav-border dotted-top"></div>
			</div>
		</section>

	</div>



	<section id="bottom-signup-cta" class="gradient-light-gold">
		<div class="container">
			<div class="zen-rocks-header">
				<div class="zen-rocks text-center">
					<img alt="Icon-zen-rocks" src="img/icon-zen-rocks-244f5c29ad6fa91f4725d04b27201657.png" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<h3>Utilisez ZenPaye aujourd'hui</h3>
					<p>Vos 2 premiers mois sont gratuits</p>
					<form id="landing-signup-form" action="inscription.html" method="GET">
						<div class="input-append">
							<button type="submit" class="btn primary">Commencez maintenant</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>



	 <% include /layouts/footer %>
 

</body>

</html>