<!DOCTYPE html>
<html lang="fr">
 <head>
   <% include /layouts/head %>    
 </head>

<body>

   <% include /layouts/header %>
 
<div id="feature-overview">

  <section class="first-section text-center text-white" id="hero">
    <div class="container">
      <div class="row no-border">
      </div>
    </div>
  </section>

  <section class="text-center" id="intro">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <h1>Découvrir le produit</h1>
          <p class="text-large">Voyez pourquoi des centaines de sociétés adorent ZenPaye</p>
        </div>
      </div>
    </div>
  </section>

  <section id="feature-categories">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

          <ul class="list-unstyled">
            <li class="col-sm-6 col-md-4 feature-category-block">
              <a href="employes.html">
                <div class="feature-category-icon employee">
                  <h4>Gestion des employés</h4>
                </div>
</a>            </li>
            <li class="col-sm-6 col-md-4 feature-category-block">
              <a href="automatique.html">
                <div class="feature-category-icon gears">
                  <h4>Fonctions automatiques</h4>
                </div>
</a>            </li>
            <li class="col-sm-6 col-md-4 feature-category-block">
              <a href="avance.html">
                <div class="feature-category-icon advanced">
                  <h4>Fonctions avancées</h4>
                </div>
</a>            </li>
            <li class="col-sm-6 col-md-4 feature-category-block">
              <a href="support.html">
                <div class="feature-category-icon support">
                  <h4>Support clients</h4>
                </div>
</a>            </li>
            <li class="col-sm-6 col-md-4 feature-category-block">
              <a href="securite.html"><div class="feature-category-icon security">
                  <h4>Sécurité</h4>
                </div>
                </a>
            </li>

          </ul>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 padding-left-30px padding-right-30px">
          <a class="all-features-link" href="fonctionnalites.html">
            <div class="all-features-link-bg">
              <h4>Voir la liste complète des fonctionnalités &gt;</h4>
            </div>
</a>        </div>
      </div>
    </div>
  </section>

</div>


	<section id="bottom-signup-cta" class="gradient-light-gold">
		<div class="container">
			<div class="zen-rocks-header">
				<div class="zen-rocks text-center">
					<img alt="Icon-zen-rocks" src="img/icon-zen-rocks-244f5c29ad6fa91f4725d04b27201657.png" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<h3>Utilisez ZenPaye aujourd'hui</h3>
					<p>Vos 2 premiers mois sont gratuits</p>
					<form id="landing-signup-form" action="inscription.html" method="GET">
						<div class="input-append">
							<button type="submit" class="btn primary">Commencer maintenant</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>


    <% include /layouts/footer %>


</body>
</html>
