<!DOCTYPE html>
<html lang="fr">
 <head>
   <% include /layouts/head %>  
 </head>

<body class="corporate features">

  <% include /layouts/header %>

  
<div id="feature-employees">

  <section id="hero" class="first-section text-center text-white gradient-green">
    <div class="container">
      <div class="row no-border">
        <div class="col-xs-12 first-section-content">
          <h4 class="text-white">Fonctionnalités</h4>
          <h1>Payroll that puts your employees first</h1>
        </div>
      </div>
    </div>
  </section>

  <div class="container-fluid" id="corporate-subnav">
  <div id="corporate-subnav-container">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="subnav-header">
        <button type="button" class="navbar-toggle">
          <span>Explore features <b class="caret"></b></span>
        </button>
      </div>

      <% include /layouts/fun_nav %>

	  </div>
  </div>
</div>


  <section id="new-employees" class="browser-screenshot">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-6">
          <h2>Add new employees easily</h2>
          <p>Your business is in good hands. We make it easy for you to bring everyone on board, 
		  so you can focus on the welcome celebrations.</p>
          <ul class="col-xs-12 vertical-features">
            <li class="row">
              <div class="col-xs-1 feature-icon">
                <img alt="New Hire Report Icon" class="img-responsive" src="img/icon-new-hire-report-05e44a8124af9936b1cb7450f2edf5d5.png" />
              </div>
              <div class="col-xs-10">
                <h4>Automatic New Hire Reporting</h4>
                <p>
                  We’ll automatically report new hires to the government. Less paperwork means more time
				  to make them feel welcome.
                </p>
              </div>
            </li>
            <li class="row">
              <a id="self-onboarding"></a>
              <div class="col-xs-1 feature-icon">
                <img alt="Employee Icon" class="img-responsive" src="img/icon-employee-236e19e66e69b2047cb21299c7cde6ad.png" />
              </div>
              <div class="col-xs-10">
                <h4>Employee Self-Onboarding</h4>
                <p>
                  No more hunting for information. Employees can fill out their own personal details, 
				  saving you from manual data entry.
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-5 col-md-offset-1 dotted-curve">
          <img alt="Dotted-line-self-onboard" class="img-responsive" src="img/dotted-line-self-onboard-0b20119f0b3cf3ca6a9d0ec21e78bd91.png" />
        </div>
      </div>
    </div>
  </section>

  <section id="meaningful-payday" class="top-divider browser-screenshot">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 col-md-6 feature-content">
          <h2>Make payday more meaningful</h2>
          <p>Your employees have never been paid like this before. Paystubs now show more than just 
		  a few numbers and employees can make donations to their favorite charities.</p>
          <ul class="col-xs-12 vertical-features">
            <li class="row">
              <div class="col-xs-1 feature-icon">
                <img alt="Email Paystub Icon" class="img-responsive" src="img/icon-employee-email-bdc7596a1c5b2c5f8b6bf2d3e2ba495b.png" />
              </div>
              <div class="col-xs-10">
                <h4>Email Paystubs with Explanations</h4>
                <p>A beautiful paystub shows employees exactly where their money is 
				going. They will have a better understanding of what their paycheck means.</p>
              </div>
            </li>
            <li class="row">
              <div class="col-xs-1 feature-icon">
                <img alt="Donate Icon" class="img-responsive" src="img/icon-donate-aae0d6c8700aeb27cae9b902d0b852ed.png" />
              </div>
              <div class="col-xs-10">
                <h4>Easy Charitable Donations</h4>
                <p><a href="#" target="_blank">ZenPayroll Giving</a> 
				lets employees contribute to nonprofit organizations directly from their paycheck. 
				It's easy to donate once or on a recurring basis.</p>
              </div>
            </li>
            <li class="row">
              <div class="col-xs-1 feature-icon">
                <img alt="Mobile &amp; Web Icon" class="img-responsive" src="img/icon-mobile-web-d98e9e128a4f6b4e37be77fe99a1efea.png" />
              </div>
              <div class="col-xs-10">
                <h4>Web & Mobile Access 24/7</h4>
                <p>Employees can easily access their paystubs from any device, anywhere, anytime.</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-sm-5 col-md-5 col-md-offset-1">
          <div class="heart-line">
            <img alt="Heart" class="img-responsive floating-subtle heart" src="img/heart-transparent-361158cc84bf562aac7b5e2db57de78c.png" />
            <img alt="Dotted Line" class="img-responsive dotted-heart-line" src="img/dotted-line-heart-curve-short-4461457d5bf6449843894352e4295c79.png" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="tour-nav-buttons" class="margin-top-45px">
    <div class="dotted-feature-arrow left"></div>
    <div class="tour-btn-left">
      <div class="tour-nav-border dotted-top"></div>
      <a href="/automatique" class="tour-btn zen-grey">
        <h4>Suivant</h4>
        <h3>Mode Automatique&nbsp;&raquo;</h3>
</a>      <div class="tour-nav-border dotted-top"></div>
    </div>
  </section>

</div>

	<section id="bottom-signup-cta" class="gradient-light-gold">
		<div class="container">
			<div class="zen-rocks-header">
				<div class="zen-rocks text-center">
					<img alt="Icon-zen-rocks" src="img/icon-zen-rocks-244f5c29ad6fa91f4725d04b27201657.png" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<h3>Utilisez ZenPaye aujourd'hui</h3>
					<p>Vos 2 premiers mois sont gratuits</p>
					<form id="landing-signup-form" action="/inscription" method="GET">
						<div class="input-append">
							<button type="submit" class="btn primary">Commencer maintenant</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>



 <% include /layouts/footer %>


</body>
</html>
