<!DOCTYPE html>
<html lang="fr">
 <head>
   <% include /layouts/head %>  
 </head>

<body >

  <% include /layouts/header %>

  
<div id="employees_section">

  <section id="employee_hero" class="first-section text-center text-white gradient-light-green">
    <div class="container">
      <div class="row no-border">
        <div class="col-xs-12 first-section-content">
          <h4 class="text-white">Fonctionnalités</h4>
          <h1>Payroll that puts your employees first</h1>
        </div>
      </div>
    </div>
  </section>

  <div class="container-fluid" id="corporate-subnav">
  <div id="corporate-subnav-container">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="subnav-header">
        <button type="button" class="navbar-toggle">
          <span>Explore features <b class="caret"></b></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="corporate-subnav-bar">
        <ul class="nav navbar-nav">
          <li>
            <a href="fonctionnalites" class="">Liste complète</a>
          </li>
          <li>
            <a href="employes" class="current">Employés</a>
          </li>
          <li>
            <a href="automatique" class="">Automatique</a>
          </li>
          <li>
            <a href="avance" class="">Avancé</a>
          </li>
          <li>
            <a href="support" class="">Support</a>
          </li>
          <li>
            <a href="securite" class="">Sécurité</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>


  <section id="easy-employees" class="browser-screenshot">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-6">
          <h2>Ajouter de nouveaux employés facilement</h2>
          <p>Votre activité est entre de bonnes mains. Nous avons optimisé les tâches administratives de l'embauche de vos nouveaux employés, afin que vous puissiez vous concentrer sur leur intégration.</p>
          <ul class="col-xs-12 vertical-features">
            <li class="row">
              <div class="col-xs-1 feature-icon">
                <img alt="New Hire Report Icon" class="img-responsive" src="img/icon-new-hire-report.png" />
              </div>
              <div class="col-xs-10">
                <h4>Déclaration Préalable à l'Embauche</h4>
                <p>
                  Nous déclarons automatiquement les nouveaux employés à l'administration fiscale et aux organismes de Sécurité Sociale. Moins de tâches administratives signifie plus de temps à consacrer à vos nouveaux employés. 
                </p>
              </div>
            </li>
            <li class="row">
              <a id="self-onboarding"></a>
              <div class="col-xs-1 feature-icon">
                <img alt="Employee Icon" class="img-responsive" src="img/icon-employeed.png" />
              </div>
              <div class="col-xs-10">
                <h4>Auto-enregistrement des Employés</h4>
                <p>
                  Fini la chasse aux informations. Les employés peuvent saisir eux-mêmes leurs informations personnelles, ce qui vous évite de la saisie manuelle fastidieuse. 
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-5 col-md-offset-1 dotted-curve">
          <img alt="Dotted-line-self-onboard" class="img-responsive" src="img/dotted-line-self-onboard.png" />
        </div>
      </div>
    </div>
  </section>

  <section id="payday_section" class="top-divider browser-screenshot">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 col-md-6 feature-content">
          <h2>Faites que la paie soit significative</h2>
          <p>Vos employés n'auront jamais été payés comme cela auparavant. Les bulletins de salaire affichent désormais plus que quelques montants et taux. Vous pourrez accompagner l'envoi du bulletin de paie d'un message personnalisé.</p>
          <ul class="col-xs-12 vertical-features">
            <li class="row">
              <div class="col-xs-1 feature-icon">
                <img alt="Email Paystub Icon" class="img-responsive" src="img/icon-employee-email.png" />
              </div>
              <div class="col-xs-10">
                <h4>Des Bulletins de Paie clairs</h4>
                <p>Les explications intégrées aideront vos employés à comprendre chaque ligne de leurs bulletins de paie. Ils sauront enfin où part leur argent dans les différentes retenues à la source.</p>
              </div>
            </li>
            <li class="row">
              <div class="col-xs-1 feature-icon">
                <img alt="Donate Icon" class="img-responsive" src="img/icon-mobile-web.png" />
              </div>
              <div class="col-xs-10">
                <h4>Accès Web & Mobile 24/7</h4>
                <p>Les employés peuvent accéder à leurs paies depuis n'importe quel périphérique, depuis n'importe où, n'importe quand.</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-sm-5 col-md-5 col-md-offset-1">
          <div class="heart-line">
            <img alt="Heart" class="img-responsive floating-subtle heart" src="img/heart-orange-transparent.png" />
            <img alt="Dotted Line" class="img-responsive dotted-heart-line" src="img/dotted-line-heart-curve.png" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="tour-nav-buttons" class="margin-top-45px">
    <div class="dotted-feature-arrow left"></div>
    <div class="tour-btn-left">
      <div class="tour-nav-border dotted-top"></div>
      <a href="automatique" class="tour-btn zen-grey">
        <h4>Suivant</h4>
        <h3>Mode Automatique&nbsp;&raquo;</h3>
</a>      <div class="tour-nav-border dotted-top"></div>
    </div>
  </section>

</div>

  <section id="utilize-cta" class="gradient-light-gold">
    <div class="container">
      <div class="zen-rocks-header">
        <div class="zen-rocks text-center">
          <img alt="Icon-zen-rocks" src="img/icon-zen-rocks.png" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <h3>Utilisez ZenPaye aujourd'hui</h3>
          <p>Vos 2 premiers mois sont gratuits</p>
          <form id="landing-signup-form" action="inscription" method="GET">
            <div class="input-append">
              <button type="submit" class="btn primary">Commencer maintenant</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>



 <% include /layouts/footer %>


</body>
</html>
