<!DOCTYPE html>
<html lang="fr">
 <head>
  <% include /layouts/head %>  
 </head>


<body class="corporate features">

<% include /layouts/header %>

  <div id="feature-list">

  <section id="hero" class="first-section text-center text-white gradient-teal">
    <div class="container">
      <div class="row no-border">
        <div class="col-xs-12">
          <h4 class="text-white">Fonctionnalités</h4>
          <h1>Tout est inclus gratuitement</h1>
        </div>
      </div>
    </div>
  </section>

  <div class="container-fluid" id="corporate-subnav">
  <div id="corporate-subnav-container">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="subnav-header">
        <button type="button" class="navbar-toggle">
          <span>Explore features <b class="caret"></b></span>
        </button>
      </div>

      <% include /layouts/fun_nav %>

	  </div>
  </div>
</div>


  <section id="employee-features">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>Fonctionnalités employés</h2>
        </div>
      </div>

      <ul class="row vertical-features multi-column">

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Employee Email Icon" class="img-responsive" src="img/icon-employee-email-bdc7596a1c5b2c5f8b6bf2d3e2ba495b.png" />
          </div>
          <div class="col-xs-10">
            <h4>Bulletins de salaires claires</h4>
            <p>
              De beaux bulletins de paie, claires et synthétiques, aideront vos employés à comprendre sans difficulté chaque information de leur fiche de paie, ce qui réduira la charge de vos ressources humaines.
            </p>
          </div>
        </li>

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Employee Icon" class="img-responsive" src="img/icon-employee-236e19e66e69b2047cb21299c7cde6ad.png" />
          </div>
          <div class="col-xs-10">
            <h4>Saisie par les employés</h4>
            <p>
              Plus de perte de temps pour finaliser les dossiers d'embauches. Les employés peuvent remplir eux-mêmes leurs informations personnelles, ce qui vous économise du temps de saisie manuelle.
            </p>
          </div>
        </li>		
		
      </ul>

      <ul class="row vertical-features multi-column">

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="New Hire Report Icon" class="img-responsive" src="img/icon-new-hire-report-05e44a8124af9936b1cb7450f2edf5d5.png" />
          </div>
          <div class="col-xs-10">
            <h4>Déclaration Préalable à l'Embauche (DPAE)</h4>
            <p>
              Nous générons automatiquement les formalités obligatoires lors de l'embauche d'un nouveau salarié, comme la déclaration préalable à l'embauche (DPAE). Avec moins de formalités administratives à traiter, vous aurez plus de temps à consacrer à l'accueil de vos nouveaux employés.
            </p>
          </div>
        </li>

        <li class="col-sm-6">

          <div class="col-xs-1 feature-icon">
            <img alt="Mobile Web Access Icon" class="img-responsive" src="img/icon-mobile-web-d98e9e128a4f6b4e37be77fe99a1efea.png" />
          </div>

          <div class="col-xs-10">
            <h4>Comptes d'accès employés</h4>
            <p>
              Une fois déclaré, chaque employé bénéficie d'un compte d'accès personnel pour accéder à ses bulletins de paie, son solde de congés et bien plus encore. Ils peuvent accéder à leurs paies depuis n'importe quel périphérique, n'importe quand, depuis n'importe où.
            </p>
          </div>

        </li>	

      </ul>

	  
	  
    </div>
  </section>

  <section id="automated-features" class="top-divider">
    <div class="container">
      <div class="row top-divider">
        <div class="col-xs-12">
          <h2>Tâhes automatisées</h2>
        </div>
      </div>

      <ul class="row vertical-features multi-column">

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Tax Filing Icon" class="img-responsive" src="img/icon-tax-file-0dc3f829ff23f9ffb6f20ed279be5217.png" />
          </div>
          <div class="col-xs-10">
            <h4>Déclaration automatiséeAutomatic tax filings</h4>
            <p>
              No more paper forms. ZenPayroll creates and electronically files your State & Federal payroll tax documents, including all end-of-year forms such as the W-2. Access your forms online at any time.
            </p>
          </div>
        </li>

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Tax Calculations Icon" class="img-responsive" src="img/icon-tax-calc-file-ee713cf6a556058eb3c80dd6d6eb83e8.png" />
          </div>
          <div class="col-xs-10">
            <h4>Automatic tax calculations & payments</h4>
            <p>
              ZenPayroll automatically calculates your state and federal payroll taxes. We then 
			  electronically pay them to the government on your behalf.
            </p>
          </div>
        </li>

      </ul>

      <ul class="row vertical-features multi-column">

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="AutoPilot Icon" class="img-responsive" src="img/icon-autopilot-1a09743f93d72c06406cd3acd88a6b0f.png" />
          </div>
          <div class="col-xs-10">
            <h4>Payroll on AutoPilot&trade;</h4>
            <p>
              Never worry about missing a deadline. With AutoPilot activated, our system will 
			  automatically process your company's payroll and let you know you’re good to go. 
			  Your employees will be paid on time, every time.
            </p>
          </div>
        </li>

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Contractor Forms Icon" class="img-responsive" src="img/icon-contractor-form-f1653fdd2a03d33744be22306709dbb4.png" />
          </div>
          <div class="col-xs-10">
            <h4>Contractor payments & 1099 forms</h4>
            <p>
              Have the flexibility to work with contractors. There is no extra cost to generate 1099 
			  forms at the end of the year. We will automatically generate and send them electronically
			  to your contractors, plus file them with your tax documents.
            </p>
          </div>
        </li>

      </ul>

    </div>
  </section>

  <section id="advanced-features" class="top-divider">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h2>Advanced features</h2>
        </div>
      </div>

      <ul class="row vertical-features multi-column">

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Unlimited Icon" class="img-responsive" src="img/icon-unlimited-e55d650000c31393b59aed7ad17164b5.png" />
          </div>
          <div class="col-xs-10">
            <h4>Unlimited bonus & off-cycle payrolls</h4>
            <p>
              Run payroll as many times as you need &mdash; at your convenience, for any reason, and at 
			  no extra cost. Whether it's for bonuses, reimbursements or anything else, there's no need 
			  to wait until the next pay period.
            </p>
          </div>
        </li>

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Cancel Payroll Icon" class="img-responsive" src="img/icon-cancel-pay-9912c215e80b8357c853a093e8667aa2.png" />
          </div>
          <div class="col-xs-10">
            <h4>Cancel payroll</h4>
            <p>
              Made a mistake? No worries – quickly cancel a payroll with a single click and re-run it 
			  when you’re ready, for no extra charge.
            </p>
          </div>
        </li>

      </ul>

      <ul class="row vertical-features multi-column">

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Net-to-Gross Icon" class="img-responsive" src="img/icon-calculator-067e2b08d1a2b38320bd5ada83845bfc.png" />
          </div>
          <div class="col-xs-10">
            <h4>Net-to-Gross</h4>
            <p>
              You should be able to give bonuses on the spot without having to make tax calculations. 
			  Simply enter the net amount your employees should receive and we’ll figure out the gross 
			  amount you need to pay before taxes.
            </p>
          </div>
        </li>

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Payment Schedule Icon" class="img-responsive" src="img/icon-pay-schedule-4b3184f46fa2b35bd2f444bf9cf095ad.png" />
          </div>
          <div class="col-xs-10">
            <h4>Flexible payment schedules</h4>
            <p>
              Choose how often employees get to celebrate payday: weekly, bi-weekly, twice a month, 
			  or monthly.
            </p>
          </div>
        </li>

      </ul>

      <ul class="row vertical-features multi-column">
        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Reports Icon" class="img-responsive" src="img/icon-clipboard-check-d0bcbd7783180cf2d25a85823b656644.png" />
          </div>
          <div class="col-xs-10">
            <h4>Detailed payroll reports</h4>
            <p>
              Get a better understanding of your payroll. Review detailed cost reports, 
			  payroll journals, and bank transaction statements. 
			  <a href="#">See the types of reports you can run.</a>
            </p>
          </div>
        </li>
      </ul>

    </div>
  </section>

  <section id="additional-features" class="top-divider">
    <div class="container">
      <div class="row top-divider">
        <div class="col-sm-4">
          <h2>Additional features</h2>
        </div>
      </div>

      <ul class="row vertical-features multi-column">

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Integrations Icon" class="img-responsive" src="img/icon-plug-cf5cc8ff970f8f4434e8e8db1d955298.png" />
          </div>
          <div class="col-xs-10">
            <h4>Powerful software integrations</h4>
            <p>
              Whether you already use accounting, time-tracking, or human resources software, or 
			  you’re looking to expand your set of back-office tools, ZenPayroll works with the products 
			  you know and love.
            </p>
            <p><a href="/integrations" class="paragraph-cta">View all integrations</a></p>
          </div>
        </li>

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Lock Icon" class="img-responsive" src="img/icon-lock-bb2b75c017fbc4c16b44cdec988cbe87.png" />
          </div>
          <div class="col-xs-10">
            <h4>Highly secure system</h4>
            <p>
              We've built an ironclad system to keep your data safe. From 256-bit SSL encryption to 
			  two-step authentication, we keep you secure every step of the way.
            </p>
            <p><a href="/security" class="paragraph-cta">Our security measures</a></p>
          </div>
        </li>

      </ul>

      <ul class="row vertical-features multi-column">

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Customer Support Icon" class="img-responsive" src="img/icon-customer-love-9ae0322eb25a8c1fc6ca9df5d162e891.png" />
          </div>
          <div class="col-xs-10">
            <h4>World-class customer support</h4>
            <p>
              Our live customer support team here in San Francisco will answer all your questions 
			  quickly over email or phone. You put your employees first and we put our customers first.
            </p>
            <p><a href="/contact" class="paragraph-cta">How can we help?</a></p>
          </div>
        </li>

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Mobile Web Icon" class="img-responsive" src="img/icon-mobile-web-d98e9e128a4f6b4e37be77fe99a1efea.png" />
          </div>
          <div class="col-xs-10">
            <h4>Mobile & web access 24/7</h4>
            <p>
              Access your account at any time from any web-enabled device, including computers, 
			  tablets and smartphones. Run payroll and manage your account on the go!
            </p>
          </div>
        </li>

      </ul>

      <ul class="row vertical-features multi-column">

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Piggy Bank Icon" class="img-responsive" src="img/icon-piggy-bank-55f3b0f8e0c1b8a325834482442d3102.png" />
          </div>
          <div class="col-xs-10">
            <h4>Direct deposit & checks</h4>
            <p>
              Pay your employees and contractors via Direct Deposit or check.
            </p>
          </div>
        </li>

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Business Icon" class="img-responsive" src="img/icon-store-ab09e78dca2ed83a579b4f5889d86308.png" />
          </div>
          <div class="col-xs-10">
            <h4>Guided company setup</h4>
            <p>
              Setting up payroll has never been easier. With our easy, self-guided setup process, 
			  you'll be running payroll in no time.
            </p>
          </div>
        </li>

      </ul>

      <ul class="row vertical-features multi-column">

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Signature Icon" class="img-responsive" src="img/icon-pen-sign-dee16b724d726dff0b08218674a7e71d.png" />
          </div>
          <div class="col-xs-10">
            <h4>Online form signing</h4>
            <p>
              Paper forms are a thing of the past. Electronically sign all necessary forms for 
			  payroll online.
            </p>
          </div>
        </li>

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Vacation &amp; Sick Days Icon" class="img-responsive" src="img/icon-vacation-sick-3e56c4fa833950117392808969df8727.png" />
          </div>
          <div class="col-xs-10">
            <h4>Vacation & sick days</h4>
            <p>
              Track and report individual employee PTO plans.
            </p>
          </div>
        </li>

      </ul>

      <ul class="row vertical-features multi-column">

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Benefits Icon" class="img-responsive" src="img/icon-health-benefits-ae5ae3a1c41bb31e4ae12ba80d34a7e2.png" />
          </div>
          <div class="col-xs-10">
            <h4>Pre-tax benefits</h4>
            <p>
              Administer medical insurance, HSA, FSA, IRA, 401(k) and other pre-tax benefits through our 
			  integrated benefit partners.
            </p>
          </div>
        </li>

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Collaborate Icon" class="img-responsive" src="img/icon-people-e346b45156134fa4af976898b0237d5f.png" />
          </div>
          <div class="col-xs-10">
            <h4>Collaborate on payroll</h4>
            <p>
              Work with your accountant, bookkeeper, or other team members on your payroll.
            </p>
          </div>
        </li>

      </ul>

      <ul class="row vertical-features multi-column">

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Reimbursement Icon" class="img-responsive" src="img/icon-reimburse-9bacfe6935755c68bb2a0e0b9fa7fb92.png" />
          </div>
          <div class="col-xs-10">
            <h4>Reimbursements</h4>
            <p>
              Pay your employee reimbursements at the same time you run payroll. Reimbursements can be 
			  included in their direct deposit.
            </p>
          </div>
        </li>

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Workers Comp Icon" class="img-responsive" src="img/icon-medical-77bc3037f9c4033d07b2b466e1bac8eb.png" />
          </div>
          <div class="col-xs-10">
            <h4>Workers' comp</h4>
            <p>
              We help you set up a workers' compensation insurance plan that works best for you.
            </p>
          </div>
        </li>

      </ul>

    </div>
  </section>

  <section id="tour-nav-buttons">
    <div class="dotted-feature-arrow left"></div>
    <div class="tour-btn-left">
      <div class="tour-nav-border dotted-top"></div>
      <a href="/employes" class="tour-btn zen-grey">
        <h4>Suivant</h4>
        <h3>Fonctionnalités employés&nbsp;&raquo;</h3>
</a>      <div class="tour-nav-border dotted-top"></div>
    </div>
  </section>

</div>

	<section id="bottom-signup-cta" class="gradient-light-gold">
		<div class="container">
			<div class="zen-rocks-header">
				<div class="zen-rocks text-center">
					<img alt="Icon-zen-rocks" src="img/icon-zen-rocks-244f5c29ad6fa91f4725d04b27201657.png" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<h3>Utilisez ZenPaye aujourd'hui</h3>
					<p>Vos 2 premiers mois sont gratuits</p>
					<form id="landing-signup-form" action="/inscription" method="GET">
						<div class="input-append">
							<button type="submit" class="btn primary">Commencer maintenant</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

<% include /layouts/footer %>

</body>
</html>
