<!DOCTYPE html>
<html lang="fr">
 <head>
  <% include /layouts/head %>  
 </head>


<body >

<% include /layouts/header %>

 <div id="feature-list">

  <section id="funtionality_hero" class="first-section text-center text-white gradient-teal">
    <div class="container">
      <div class="row no-border">
        <div class="col-xs-12">
          <h4 class="text-white">Fonctionnalités</h4>
          <h1>Tout est inclus gratuitement</h1>
        </div>
      </div>
    </div>
  </section>

  <div class="container-fluid" id="corporate-subnav">
  <div id="corporate-subnav-container">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="subnav-header">
        <button type="button" class="navbar-toggle">
          <span>Explore features <b class="caret"></b></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="corporate-subnav-bar">
        <ul class="nav navbar-nav">
          <li>
            <a href="fonctionnalites" class="current">Liste complète</a>
          </li>
          <li>
            <a href="employes" class="">Employés</a>
          </li>
          <li>
            <a href="automatique" class="">Automatique</a>
          </li>
          <li>
            <a href="avance" class="">Avancé</a>
          </li>
          <li>
            <a href="support" class="">Support</a>
          </li>
          <li>
            <a href="securite" class="">Sécurité</a>
          </li>
        </ul>
      </div>



    </div>
  </div>
</div>


  <section id="employee-features">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>Fonctionnalités employés</h2>
        </div>
      </div>

      <ul class="row vertical-features multi-column">

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Employee Email Icon" class="img-responsive" src="img/emplo-iconed.png" />
          </div>
          <div class="col-xs-10">
            <h4>Bulletins de salaires claires</h4>
            <p>
              De beaux bulletins de paie, claires et synthétiques, aideront vos employés à comprendre sans difficulté chaque information de leur fiche de paie, ce qui réduira la charge de vos ressources humaines.</p>
          </div>
        </li>

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Employee Icon" class="img-responsive" src="img/emp_icon.png" />
          </div>
          <div class="col-xs-10">
            <h4>Saisie par les employés</h4>
            <p>
              Plus de perte de temps pour finaliser les dossiers d'embauches. Les employés peuvent remplir eux-mêmes leurs informations personnelles, ce qui vous économise du temps de saisie manuelle.</p>
          </div>
        </li>   
    
      </ul>

      <ul class="row vertical-features multi-column">

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="New Hire Report Icon" class="img-responsive" src="img/icon-new-hire-report.png" />
          </div>
          <div class="col-xs-10">
            <h4>Déclaration Préalable à l'Embauche (DPAE)</h4>
            <p>
              Nous générons automatiquement les formalités obligatoires lors de l'embauche d'un nouveau salarié, comme la déclaration préalable à l'embauche (DPAE). Avec moins de formalités administratives à traiter, vous aurez plus de temps à consacrer à l'accueil de vos nouveaux employés.</p>
          </div>
        </li>

        <li class="col-sm-6">

          <div class="col-xs-1 feature-icon">
            <img alt="Mobile Web Access Icon" class="img-responsive" src="img/icon-mobile-web.png" />
          </div>

          <div class="col-xs-10">
            <h4>Comptes d'accès employés</h4>
            <p>
             Une fois déclaré, chaque employé bénéficie d'un compte d'accès personnel pour accéder à ses bulletins de paie, son solde de congés et bien plus encore. Ils peuvent accéder à leurs paies depuis n'importe quel périphérique, n'importe quand, depuis n'importe où.</p>
          </div>

        </li> 

      </ul>

    
    
    </div>
  </section>

  <section id="automated-features" class="top-divider">
    <div class="container">
      <div class="row top-divider">
        <div class="col-xs-12">
          <h2>Tâches automatisées</h2>
        </div>
      </div>

      <ul class="row vertical-features multi-column">

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Tax Filing Icon" class="img-responsive" src="img/icon-tax-file.png" />
          </div>
          <div class="col-xs-10">
            <h4>Déclaration automatisée</h4>
            <p>
              Plus de formulaires papier. ZenPaie calcule et télédéclare vos cotisations sociales et taxes, y compris la DADS (Déclaration Annuelle des Données Sociales). Accéder à vos formulaires en ligne quand vous le souhaiter.</p>
          </div>
        </li>

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Tax Calculations Icon" class="img-responsive" src="img/icon-tax-calc-file.png" />
          </div>
          <div class="col-xs-10">
            <h4>Paiement automatique des cotisations et taxes</h4>
            <p>
              ZenPaie peut procéder au paiement des cotisations sociales et des taxes, à votre place, vous évitant ainsi des tâches administratives répétitives. 
            </p>
          </div>
        </li>

      </ul>

      <ul class="row vertical-features multi-column">

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="AutoPilot Icon" class="img-responsive" src="img/icon-autopilot.png" />
          </div>
          <div class="col-xs-10">
            <h4>La Paie en mode Automatique</h4>
            <p>
                   Ne vous souciez plus d'oublier une date limite. Avec le mode Automatique activé, notre système générera chaque mois automatiquement la paie de votre société et nous vous ferons un récapitulatif. Vos employés seront toujours payés à temps.
            </p>
          </div>
        </li>

        <!--<li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Contractor Forms Icon" class="img-responsive" src="img/icon-contractor-form.png" />
          </div>
          <div class="col-xs-10">
            <h4>Fonctions avancées</h4>
            <p>
              Have the flexibility to work with contractors. There is no extra cost to generate 1099 
        forms at the end of the year. We will automatically generate and send them electronically
        to your contractors, plus file them with your tax documents.
            </p>
          </div>
        </li>-->

      </ul>

    </div>
  </section>

  <section id="advanced-features" class="top-divider">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h2>Fonctions avancées</h2>
        </div>
      </div>

      <ul class="row vertical-features multi-column">

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Unlimited Icon" class="img-responsive" src="img/icon-unlimited.png" />
          </div>
          <div class="col-xs-10">
            <h4>Salaires, primes et notes de frais illimités</h4>
            <p>
              Exécuter la paie autant de fois que vous avez besoin, à votre convenance, quelqu'en soit la raison, sans frais supplémentaires. Que ce soit pour les primes, les remboursements ou pour toute autre chose, vous n'avez pas besoin d'attendre la prochaine période de paye. 
            </p>
          </div>
        </li>

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Cancel Payroll Icon" class="img-responsive" src="img/icon-cancel-pay.png" />
          </div>
          <div class="col-xs-10">
            <h4>Annuler un bulletin de paie</h4>
            <p>
             Vous avez comis une erreur? Pas d'inquiétudes – annulez rapidement une paie d'un simple click et réexécutez-la lorsque vos serez prêt, sans coût additionnel. 
            </p>
          </div>
        </li>

      </ul>

      <ul class="row vertical-features multi-column">

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Net-to-Gross Icon" class="img-responsive" src="img/icon-calculator.png" />
          </div>
          <div class="col-xs-10">
            <h4>Du Net au Brut</h4>
            <p>
              Vous devriez être capable de donner une prime nette sans avoir à calculer les cotisations sociales et taxes. Saisissez simplement le montant net que vos employés devront recevoir et nous vous calculerons le montant brut que vous devrez leur verser.
            </p>
          </div>
        </li>

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Payment Schedule Icon" class="img-responsive" src="img/flexible.png" />
          </div>
          <div class="col-xs-10">
            <h4>Rapports détaillés</h4>
            <p>
              Obtenez une meilleure compréhension de votre masse salariale. Suivez les rapports de coûts détaillées, les livres de paie et les synthèses de transaction bancaires. <a target="_blank" href="avance">Voir les différents types de rapports.</a>
            </p>
          </div>
        </li>

      </ul>

      <ul class="row vertical-features multi-column">
        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Reports Icon" class="img-responsive" src="img/detailed.png" />
          </div>
          <div class="col-xs-10">
            <h4>Dates de paiement flexibles</h4>
            <p>
              Choisissez la fréquence à laquelle vos employés seront payés: hebdomadaire, bi-mensuelle ou mensuelle. </a>
            </p>
          </div>
        </li>
      </ul>

    </div>
  </section>

  <section id="additional-features" class="top-divider">
    <div class="container">
      <div class="row top-divider">
        <div class="col-sm-4">
          <h2>Fonctions additionnelles</h2>
        </div>
      </div>

      <ul class="row vertical-features multi-column">

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Integrations Icon" class="img-responsive" src="img/powerful.png" />
          </div>
          <div class="col-xs-10">
            <h4>Accès Mobile & web 24/7</h4>
            <p>
              Accéder à votre compte comme vous le souhaiter depuis n'importe quel périphérique doté d'une interface web, y compris les ordinateurs PC/Mac, les tablettes et les smartphones. Exécutez la paie et gérez votre compte d'un clic! 
            </p>
            <p><a href="/integrations" class="paragraph-cta">View all integrations</a></p>
          </div>
        </li>

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Lock Icon" class="img-responsive" src="img/security.png" />
          </div>
          <div class="col-xs-10">
            <h4>Système à haute sécurité</h4>
            <p>
              Nous avons construit un système à toute épreuve pour garder vos données en toute sécurité. Du cryptage SSL 256 bits au système de double authentification, nous continuons de sécuriser chaque étape du système. 
            </p>
            <p><a href="/security" class="paragraph-cta">Voir nos mesures de sécurité</a></p>
          </div>
        </li>

      </ul>

      <ul class="row vertical-features multi-column">

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Customer Support Icon" class="img-responsive" src="img/customer.png" />
          </div>
          <div class="col-xs-10">
            <h4>Support client Premium</h4>
            <p>
              Notre support client est basé en France et répondra rapidement à toutes vos questions par mail ou par téléphone. Votre priorité est vos employés et notre priorité est nos clients. 
            </p>
            <p><a href="/contact" class="paragraph-cta">How can we help?</a></p>
          </div>
        </li>

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Mobile Web Icon" class="img-responsive" src="img/web.png" />
          </div>
          <div class="col-xs-10">
            <h4>Assistant de configuration</h4>
            <p>
              La configuration de la paie n'aura jamais été aussi simple. Avec notre assistant de configuration simple, et très facile à comprendre, vous pourrez générer votre paie en un rien de temps. 
            </p>
          </div>
        </li>

      </ul>

      <ul class="row vertical-features multi-column">

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Piggy Bank Icon" class="img-responsive" src="img/deposit.png" />
          </div>
          <div class="col-xs-10">
            <h4>Signature numérique</h4>
            <p>
              Les formulaires papier appartiennent au passé. Signer électroniquement tous les formulaires en ligne. 
            </p>
          </div>
        </li>

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Business Icon" class="img-responsive" src="img/company.png" />
          </div>
          <div class="col-xs-10">
            <h4>Congés payés et absences pour maladie</h4>
            <p>
              Suivez les congés payés et les RTTs, ainsi que les jours d'absence de vos employés. 
            </p>
          </div>
        </li>

      </ul>

      <ul class="row vertical-features multi-column">

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Signature Icon" class="img-responsive" src="img/online.png" />
          </div>
          <div class="col-xs-10">
            <h4>Paiement par virement SEPA</h4>
            <p>
              Payez vos employés par virement bancaire SEPA ou par chèque. 
            </p>
          </div>
        </li>

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Vacation &amp; Sick Days Icon" class="img-responsive" src="img/sick.png" />
          </div>
          <div class="col-xs-10">
            <h4>Travaillez ensemble à la paie</h4>
            <p>
              Permettez à vos ressources humaines, votre comptable et votre expert-comptable de travailler ensemble à la paie. 
            </p>
          </div>
        </li>

      </ul>

      <ul class="row vertical-features multi-column">

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Benefits Icon" class="img-responsive" src="img/pretax.png" />
          </div>
          <div class="col-xs-10">
            <h4>Notes de frais</h4>
            <p>
              Procédez au remboursement des notes de frais de vos employés en même temps que leurs salaires. 
            </p>
          </div>
        </li>

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Collaborate Icon" class="img-responsive" src="img/collaborate.png" />
          </div>
          <div class="col-xs-10">
            <h4>Mutuelle et Prévoyance complémentaire</h4>
            <p>
              Nous vous aidons à mettre en place une mutuelle santé et une prévoyance complémentaires pour vos employés. 
            </p>
          </div>
        </li>

      </ul>

      <!--<ul class="row vertical-features multi-column">

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Reimbursement Icon" class="img-responsive" src="img/reimbursements.png" />
          </div>
          <div class="col-xs-10">
            <h4>Reimbursements</h4>
            <p>
              Pay your employee reimbursements at the same time you run payroll. Reimbursements can be 
        included in their direct deposit.
            </p>
          </div>
        </li>

        <li class="col-sm-6">
          <div class="col-xs-1 feature-icon">
            <img alt="Workers Comp Icon" class="img-responsive" src="img/workers.png" />
          </div>
          <div class="col-xs-10">
            <h4>Workers' comp</h4>
            <p>
              We help you set up a workers' compensation insurance plan that works best for you.
            </p>
          </div>
        </li>

      </ul>-->

    </div>
  </section>

  <section id="tour-nav-buttons">
    <div class="dotted-feature-arrow left"></div>
    <div class="tour-btn-left">
      <div class="tour-nav-border dotted-top"></div>
      <a href="employes" class="tour-btn zen-grey">
        <h4>Suivant</h4>
        <h3>Fonctionnalités employés&nbsp;&raquo;</h3>
</a>      <div class="tour-nav-border dotted-top"></div>
    </div>
  </section>

</div>

<section id="utilize-cta" class="gradient-light-gold">
    <div class="container">
      <div class="zen-rocks-header">
        <div class="zen-rocks text-center">
          <img alt="Icon-zen-rocks" src="img/icon-zen-rocks.png" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <h3>Utilisez ZenPaye aujourd'hui</h3>
          <p>Vos 2 premiers mois sont gratuits</p>
          <form id="landing-signup-form" action="inscription" method="GET">
            <div class="input-append">
              <button type="submit" class="btn primary">Commencer maintenant</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

<% include /layouts/footer %>

</body>
</html>
