<!DOCTYPE html>
<html lang="fr">
 <head>
  <% include /layouts/head %>	
 </head>

<body class="corporate landing-page">

	<% include /layouts/header %>

	<section id="landing-intro" class="first-section customer-story intro-customer-socialprint ">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-6 col-md-6 landing-first-section-content">

					<div class="row">
						<div class="col-md-12">
							<h1>La manière la plus simple<span class="span-block-md">de payer vos employés</span></h1>
							<div class="intro-quote">
								<q>I haven’t seen a government form since I switched to ZenPayroll and I used to drown in them from the other services…</q>
								<p class="intro-quote-author"><span>- George Sylvain</span> CEO, Social Print Studio</p>
							</div>
						</div>
					</div>

					<div class="row">
						<div id="signup-form" class="col-sm-12 col-md-10 col-lg-8">

							<form class="simple_form signup-form-style focus-first" id="landing-signup-form-full" method="post" novalidate="novalidate" action="/">

							<%if(typeof message!= 'undefined') {%>
  <div class="msg_text alert alert-success"><%= message %></div>
  <%}%>
								<div style="margin:0;padding:0;display:inline">
									<input name="utf8" type="hidden"/>
									<input name="authenticity_token" type="hidden" />
								</div>
								<div class='form-group' id='full-name'>
									<label class='sr-only'>Full Name</label>
									<div class="form-group string optional company_lead_full_name">
										<input class="string optional form-control placeholder" id="company_lead_full_name" name="full_name" placeholder="Nom complet" size="50" type="text" autofocus="autofocus" required value="" />
									</div>
								</div>
								<div class='form-group' id='work-email'>
									<label class='sr-only'>Work Email Address</label>
									<div class="form-group email optional company_lead_email">
										<input class="string email optional form-control" id="company_lead_email" name="email" placeholder="Adresse mail professionnelle" size="50" type="email" />
									</div>
								</div>
								<div class='form-group' id='company-name'>
									<label class='sr-only'>Company Name</label>
									<div class="form-group string optional company_lead_company_name">
										<input class="string optional form-control" id="company_lead_company_name" name="company_name" placeholder="Nom de la société" size="50" type="text" />
									</div>
								</div>
								<div id='landing-signup-form-full-section-2' style='display: none;'>
									<h4 class='form-section-expanded-header'>Dites-nous en plus sur votre société</h4>
									<div class='form-group' id='number-employees'>
										<label class='sr-only'>Number of Employees</label>
										<div class="form-group integer optional company_lead_number_employees">
											<input class="numeric integer optional form-control" id="company_lead_number_employees" name="number_employees" placeholder="Nombre de Salariés" step="1" type="number" />
										</div>
									</div>
								</div>

								<div class="form-group hidden company_lead_source">
									<input class="hidden referral-input" id="company_lead_source" name="source" type="hidden" />
								</div>
								<div class='form-actions submit-wrapper'>
									<button class='btn primary' id='homepage-submit-button' type='submit'>Essai gratuit 2 mois</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
 
  
 
  	<section id="business-types" class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h3>Apprécié par des centaines de sociétés près de chez vous</h3>
				</div>
			</div>

			<ul class="row list-unstyled margin-top-15px">
				<li class="col-sm-2 business-type">
					<div class="biz-icon">
						<img alt="Startup Icon" class="img-responsive" src="img/biz-icon-tech-7bccbac829c06c0ba0301e00c0cccf08.png" />
					</div>
					<p>Startups</p>
				</li>
				<li class="col-sm-2 business-type">
					<div class="biz-icon">
						<img alt="Coffee Icon" class="img-responsive" src="img/biz-icon-coffee-2eb6273c42f3313c872e4404ed201fd0.png" />
					</div>
					<p>Restaurants</p>
				</li>
				<li class="col-sm-2 business-type">
					<div class="biz-icon">
						<img alt="Doctor Icon" class="img-responsive" src="img/biz-icon-doctor-cb991e9bf9b74a1682ef57be521b9374.png" />
					</div>
					<p>Docteurs</p>
				</li>
				<li class="col-sm-2 business-type">
					<div class="biz-icon">
						<img alt="Creative Icon" class="img-responsive" src="img/biz-icon-creative-a2a4e8de1e1581137adef778a9a0aee6.png" />
					</div>
					<p>Agences</p>
				</li>
				<li class="col-sm-2 business-type">
					<div class="biz-icon">
						<img alt="Lawyer Icon" class="img-responsive" src="img/biz-icon-lawyer-a245f9113c211107cc1a2544e13ce292.png" />
					</div>
					<p>Avocats</p>
				</li>
				<li class="col-sm-2 business-type">
					<div class="biz-icon">
						<img alt="Boutique Icon" class="img-responsive" src="img/biz-icon-shop-d2bec1e898447c0c90f97e741b6ac3f8.png" />
					</div>
					<p>Boutiques</p>
				</li>
			</ul>
		</div>
	</section>

<!--===custom css start here==
	<section id="customer-story" class="labeled-section text-white customer-farmgirl">
		<div class="container padding-top-none">
			<div class="section-label">
				<h4>Customer Story</h4>
			</div>
			<div class="row">
				<div class="col-md-10 col-lg-7 section-header">
					<h2>Watch your team blossom</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9 col-lg-7 margin-top-none quote-box">
					<div class="row">
						<div class="col-sm-9">
							<div class="dotted-hr-light"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-9">
							<q>I&rsquo;m not stressed about payroll. Just having that assurance is worth its weight in gold.</q>
							<p class="quote-author">
								<span class="text-white">Christina Stembel</span>, Owner, Farmgirl Flowers
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 margin-top-15px margin-bottom-15px">
							<p>
								<a href="/customers" class="paragraph-cta bright-link">Read Christina&#x27;s Story</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
-->
	

<section id="customer-story" class="customer-socialprint hidden">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-md-6">
			</div>

			<div class="col-sm-7 col-md-5">
				<h2>Payroll made easy</h2>
				<div class="testimonial-quote">
					<q>I haven’t seen a government form since I switched to ZenPayroll and I used to drown in them from the other services…</q>
					<p class="quote-author"><span>- George Sylvain</span> CEO, Social Print Studio</p>
				</div>
				<p class="video-btn-wrapper">
					<a href="#" class="play-video-btn wistia-popover[height=422,playerColor=37823e,width=800]">George&#x27;s Story</a>
				</p>
			</div>
		</div>
	</div>
</section>



<section id="pricing" class="text-center top-divider pricing-standard ">
	<div class="container" style="min-height: 600px;">

    <div class="row">
		<div class="col-xs-12">
			<h2>Simple, tarif mensuel</h2>
		</div>
    </div>

    <div class="row text-center margin-top-30px">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 price-breakdown-wrapper">
			<div id="price-breakdown">
				<img alt="€25 + €5 par salarié" class="img-responsive" src="img/price-breakdown-sm-09b1d27c49f46d5e90e8b4b8cb23d822.png" />
				<p class="small-caps margin-top-15px">par mois</p>
			</div>
		</div>
    </div>

    <div class="row price-slider-wrapper">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<span id="base">
				<noscript>
					€25 par société + €5 par salarié
				</noscript>
				<div id="zen-slider-url" class="hidden">
					<a href="#">Request Invite</a>
				</div>
				<div id="zen-slider-contact" class="hidden">
					<a href="#">Contact Us for Enterprise Pricing</a>
				</div>
				<div class="zen-slider"></div>
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div id="total">
				<div class="row">
					<div class="total-text col-sm-10 col-sm-push-1 col-md-8 col-md-push-2">
						<p class="text-large">
							Avec
							<span class="text-color">1 salarié</span>
							dans votre société,
							<br>
							<span>€30 par mois</span>
							for delightful payroll
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-sm-push-2">
			<p class="pricing-secondary-text">
				C'est tout! Tout pour la paye des salariés est incluse. 
				<span class="span-block-md">
					<strong>Pas de couts cachés</strong> ou additionnels.
				</span>
			</p>
		</div>
	</div>

    <div class="row">
		<div class="col-sm-8 col-sm-push-2">
			<p><a href="/fonctionnalites" class="paragraph-cta">Voir ce qui est inclu</a></p>
		</div>
    </div>

		<div class="row">
			<div class="col-sm-8 col-sm-push-2 pricing-signup dotted-top margin-top-30px">
				<form id="landing-signup-form" action="/inscription" method="GET">
					<div class="input-append">
						<button type="submit" class="btn primary">Essai gratuit</button>
					</div>
				</form>
				<h5>Gratuit pendant 2 mois</h5>
			</div>
		</div>
	</div>
</section>


<a class="anchor" id="pricing"></a>

<section id="pricing" class="pricing-2col hidden">
	<div class="container" style="min-height: 480px;">
		<div class="row">
			<div class="col-sm-6">
				<h2>Simple, monthly pricing</h2>
				<div class="price-breakdown-wrapper">
					<div id="price-breakdown">
						<img alt="$25 + $4 per person" class="img-responsive" src="img/price-breakdown-sm-09b1d27c49f46d5e90e8b4b8cb23d822.png" />
						<p class="small-caps margin-top-15px">per month</p>
					</div>
					<div class="dotted-hr"></div>
					<p>
						C'est tout! Everything for employees and contractors is included.
						<span class="span-block-md">
							<strong>Pas de couts cachés</strong> ou additionnels.
							<a href="/features" class="features-link">See what&#x27;s included</a>
						</span>
					</p>
					<form id="landing-signup-form" action="/inscription" method="GET">
						<div class="input-append">
							<button type="submit" class="btn primary">Essai gratuit</button>
						</div>
					</form>

					<h5>Free 2&#8209;month trial</h5>
				</div>
			</div>

			<div class="col-sm-6 calculate-price">
				<h3>How many people do you need to pay?</h3>
				<div class="calculate-price-wrapper">
					<div class="row price-slider-wrapper">
						<div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">
							<span id="base">
								<div id="zen-slider-url" class="hidden">
									<a href="#">Request Invite</a>
								</div>
								<div id="zen-slider-contact" class="hidden">
									<a href="#">Contact Us for Enterprise Pricing</a>
								</div>
								<div class="zen-slider">
									<div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
										<div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 0%;">
										</div>
										<span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;">
											<div class="tooltip">
												<div class="tooltip-header"></div>
												<div class="tooltip-content">
													<h3>1 person</h3>
													<ul>
														<li>$25 base price</li>
														<li>$4/person x 1 person</li>
													</ul>
												</div>
											</div>
										</span>
									</div>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<% include /layouts/footer %>


</body>
</html>
