<!DOCTYPE html>
<html lang="en" ng-app="payRoll">
<head>
  <title><%= title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href='stylesheets/fonts/Open-Sans.css' rel='stylesheet' type='text/css'>
  <!-- BEGIN CORE CSS FRAMEWORK -->
  <link href="stylesheets/bootstrap.css" rel="stylesheet" type="text/css"/>
  <link href="stylesheets/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
  <!-- END CORE CSS FRAMEWORK -->
  <!-- BEGIN CSS TEMPLATE -->
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css"/>
  
  <!-- END CSS TEMPLATE -->
  <script src="javascripts/libs/jquery-1.9.1.min.js" type="text/javascript"></script>
  <script src="javascripts/libs/bootstrap.js" type="text/javascript"></script>
  <!-- pdf lib -->
  <script src='javascripts/libs/pdfmake.js' type="text/javascript"></script>
  <script src='javascripts/libs/vfs_fonts.js' type="text/javascript"></script>
  
  <script src="javascripts/libs/accounting.js" type="text/javascript"></script>
  
  <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{
var pageTracker = _gat._getTracker("UA-59225729-1");
pageTracker._trackPageview();
} catch(err) {}

</script>
</head>

<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="">
<!-- BEGIN HEADER -->
<header role="banner" id="top" class="navbar navbar-static-top bs-docs-nav navbar-fixed-top" ng-controller="mainCtrl" >

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../">Logo </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
      <li class="active">
         <button class="btn btn-primary exported" ng-show="paymentStatus" ng-disabled="disablePdf" id="downloadPdf"  style="float:right">{{pdfButton}}</button>
      <button class="btn btn-primary exported" ng-disabled="disablePdf" ng-hide="paymentStatus" ng-click="payment()" style="float:right">{{pdfButton}}</button>   
        </ul>
      </div><!--/.nav-collapse -->
  </div>
</header>
<!-- END HEADER -->
<header role="banner" id="top" class="navbar navbar-static-top bs-docs-nav navbar-fixed-top" ng-controller="mainCtrl">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../"><img src="images/logo.png" /> </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
      <li class="active">

           <!--  <button class="btn btn-primary exported downloadPdf" ng-disabled="disablePdf"   style="float:right">{{pdfButton}}</button> -->


      <button class="btn btn-primary exported downloadPdf" ng-show="paymentStatus" ng-disabled="disablePdf"   style="float:right">{{pdfButton}}</button>
      <button class="btn btn-primary exported" ng-disabled="disablePdf" ng-hide="paymentStatus" ng-click="payment()" style="float:right">{{pdfButton}}</button>
    </li>
      <!-- <a href="javascript:void(0);">GENERER UN BULLETIN DE PAIE</a></li> -->
        </ul>
      </div><!--/.nav-collapse -->
  </div>
</header>
<!-- END HEADER -->

  <div class="container content-calculator" id="payrollPDF" ng-controller="mainCtrl" data-ng-init="loadJson()">
<div class="cal-main">
  <div class="row top-block">
        <div class="col-md-7 padding-max">
            <div class="list-group">
               <span class="list-group-item list-group-item-active">
                  <h4 class="list-group-item-heading" editable-text="company_name" onaftersave="checkString(company_name)" id="company_name" e-max="64">
                     {{company_name}}
                  </h4>
               </span>
               <span class="list-group-item">
                  <p class="list-group-item-text" editable-text="address1" id="address1" e-max="64">
                     {{address1}}
                  </p>
               </span>
               <span  class="list-group-item">
                  <p class="list-group-item-text" editable-text="address2" id="address2" e-max="64">{{address2}}</p>
               </span>
                <span  class="list-group-item">
                    <a href="#" ng-model="zip_code" editable-text="zip_code" id="zip_code" e-typeahead="city for city in Zip_City_options | filter:$viewValue | limitTo:8">
                      {{ zip_code || '58.29C' }}
                    </a>                  
                 
               </span>
              
            </div>
            <div class="bs-example hrzntl-algin algin-slct">
    <!--  <h2>Horizontal Definition Lists</h2>-->
        <dl class="dl-horizontal">
            <dt>ETABLISSEMENT <em>: </em></dt>
            
            <dd><span editable-text="company_estab" id="company_estab">{{company_estab}} </span></dd>
         </dl>   
         <dl class="dl-horizontal">
            <dt>N° DE SIREN <em>: </em></dt> 
            <dd>
            <span editable-tel="company_ID" ng-model="company_ID" id="company_ID" onaftersave="validateCompanyId(company_ID)"> {{company_ID | companyIdFormat}} </span></dd>
          </dl>
          <dl class="dl-horizontal">  
            <dt>N° URSAFF <em>: </em></dt>
           <dd><span editable-tel="comany_insurance" id="comany_insurance" e-pattern="\d{12}" e-title="xxxxxxxxxxx"> {{comany_insurance}}</span></dd>
          </dl>  
            <dl class="dl-horizontal padding-right">
            <dt>CODE NAF <em>: </em></dt>
              <dd>
              <a href="#" buttons="no" ng-model="Code_NAF" id="Code_NAF" editable-text="Code_NAF" e-typeahead="state for state in Code_NAF_options | filter:$viewValue | limitTo:8">
                {{ Code_NAF || '58.29C' }}
              </a>
               <!--  <select ng-model="Code_NAF" class="form-control code-naf">
                <option ng-repeat="val in Code_NAF_options">{{val}}</option>
              </select> -->
            
            <!--   5829C EDITION DE LOGICIELS APPLICATIFS -->
            </dd>
          </dl>
          <dl class="dl-horizontal padding-right">
                    <dt>CONV. COLLECTIVE <em>: </em></dt>
                    <dd>
                   <!--  <select ng-model="Convention_collective" class="form-control"> -->
                    <a href="#" buttons="no" editable-select="Convention_collective"  id="Convention_collective" ng-model="Convention_collective" e-ng-options="s.value as s.text for s in con_collective_options">{{ showConCollective() }}</a>
         <!--  <a href="#" buttons="no" ng-model="Convention_collective" editable-text="Convention_collective" e-typeahead="state for state in con_collective | filter:$viewValue | limitTo:8">
                {{ Code_NAF || '58.29C' }}
              </a> -->
                  </dd>
                 </dl>  
    </div>
           
            <div class="bs-example hrzntl-algin algin-slct">
                <!--  <h2>Horizontal Definition Lists</h2>-->
                 <dl class="dl-horizontal">
                    <dt>Paiement le <em>: </em></dt>
                    
                    <dd><span editable-bsdate="payroll_date" id="payroll_date" e-datepicker-popup="dd.MM.yyyy">  {{(payroll_date |  date:"dd.MM.yyyy" ) || "31.01.2015"}}
                      </span>
                    </dd>                    
                 </dl> 
            </div>
        </div>
        <div class="col-md-5 form-heder padding-none">
            <h1>BULLETIN DE PAIE</h1> 
            <div class="bs-example hrzntl-algin autoWdith">
            
                <dl class="dl-horizontal ">
                    <dt>Mois/année de paie :</dt>
                     <dd><span editable-bsdate="payroll_period" id="payroll_period" e-datepicker-popup="dd.MM.yyyy">  {{(payroll_period | date:"dd.MM/yyyy" | customDateFilter)}}
                        </span>
                     </dd> 
                 </dl>   
                  
            </div>  
            <div class="bs-example hrzntl-algin autoWdith">
                 <dl class="dl-horizontal">
                    <dt>Période du :</dt>
                    <dd><span editable-bsdate="payroll_start" id="payroll_start" e-datepicker-popup="dd.MM.yyyy">  {{(payroll_start |  date:"dd.MM.yyyy" ) || "01.01.2015"}} </span> au <span editable-bsdate="payroll_end" id="payroll_end" e-datepicker-popup="dd.MM.yyyy">  {{(payroll_end |  date:"dd.MM.yyyy" ) || "30.01.2015"}} </span></dd>
                  </dl>
                  <dl class="dl-horizontal">  
                    <dt>No Sécurité Sociale :</dt>
                    <dd>
                      <span editable-tel="employ_ID" id="employ_ID" onaftersave="checkEmployId(employ_ID)" e-title="X XX XX XXXXX XXX XX">
                      {{employ_ID | employIdFormat}}
                      </span>
                    </dd>
                  </dl>
            </div>
           <div class="list-group list-group-grey">
               <span class="list-group-item">
                  <p class="list-group-item-text">
                   <em><span editable-text="employ_name" onaftersave="checkString(employ_name)" e-max="64" id="employ_name"> {{employ_name}} </span></em><br />
                   <em><span editable-text="employ_address1" id="employ_address1" e-max="64">{{employ_address1 || 'empty'}} </span> </em><br />
                   <em><span editable-text="employ_address2" id="employ_address2" e-max="64"> {{employ_address2 || 'empty'}} </span></em><br />

                     <a href="#" ng-model="employ_zip" id="employ_zip" editable-text="employ_zip" e-typeahead="zip_code for zip_code in Zip_City_options | filter:$viewValue | limitTo:8">
                      {{ employ_zip }}
                    </a>
                  <!--  <span editable-number="employ_zip" e-max="6">{{employ_zip}} </span> 
                   <span editable-text="employ_city" onaftersave="checkString(employ_city)"> {{employ_city || 'empty'}} </span> -->
                  </p>
               </span>
               <!-- <span  class="list-group-item">
                  <p class="list-group-item-text">1 avenue des Champs Elysées</p>
               </span> -->
               <span  class="list-group-item">
                  <p class="list-group-item-text">
                    <!-- <select ng-model="Zip_City1">
                      <option ng-repeat="val in Zip_City_options">{{val.ZIP_code}} {{val.City_name}}</option>
                    </select> -->
                  </p>
               </span>
            </div>
        </div>
    </div>
    <!-- top table -->
    <div class="repeat-list-hldr row">
        <div class="repeat-list clearfix">
            <div class="col-md-4 emplytble">
                <div class="row">
                    <div class="col-xs-5 voilet-grid">
                        Emploi  <em>:</em>
                    </div>
                    <div class="col-xs-7 grey-grid">
                       <span class="consolant x-edit-change" id="employ_role" editable-text="employ_role" naftersave="checkNumeric(employ_role)" e-max="16"> {{employ_role}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 emplytble-lrg">
                <div class="row">
                    <div class="col-xs-7 voilet-grid">
                         Assurance santé et Prévoyance <em>:</em>
                    </div>
                    <div class="col-xs-5 grey-grid">
                       <!-- <input type="text" ng-model="health_ins" class="form-control"> -->
                       <a href="#" buttons="no" editable-select="health_ins"  id="health_ins" ng-model="health_ins" e-ng-options="s.value as s.text for s in health_ins_options">{{ showHealthCategory() }}</a>
                       <!-- <select class="form-control" ng-model="health_ins" id="health_ins">
                         <option ng-repeat="value in health_ins_options">{{value}}</option>
                       </select> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 emplytble">
                <div class="row">
                    <div class="col-xs-7 voilet-grid">
                        Sal. Tp plein <em>:</em>
                    </div>
                    <div class="col-xs-5 grey-grid">
                           <!-- <input id="base_sal" type="text" currency class="form-control amount-base" ng-model="base_sal"> -->
                           <span id="base_sal" ng-model="base_sal" editable-text="base_sal" > {{base_sal }} </span>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="repeat-list clearfix">
            <div class="col-md-4 emplytble">
                <div class="row">
                    <div class="col-xs-5 voilet-grid">
                        Catégorie <em>:</em>
                    </div>
                    <div class="col-xs-7 grey-grid paddng-ers">
                          <a href="#" buttons="no" editable-select="category"  id="category" ng-model="category" e-ng-options="s.value as s.text for s in category_options">{{ showCategory() }}</a>
                           <!-- <input type="text" ng-model="category" class="form-control"> -->
                           <!-- <select class="form-control" ng-model="category" id="category">
                             <option ng-repeat="value in category_options">{{value}}</option>
                           </select> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 emplytble-lrg">
                <div class="row">
                    <div class="col-xs-7 voilet-grid">
                       Assurance chômage <em>:</em>
                    </div>
                    <div class="col-xs-5 grey-grid">
                      <a href="#" buttons="no" editable-select="disability_ins"  id="disability_ins" ng-model="disability_ins" e-ng-options="s.value as s.text for s in disability_ins_options">{{ showDisabilityCategory() }}</a>
                           <!-- <input type="text" ng-model="disability_ins" class="form-control"> -->
                          <!-- <select class="form-control" ng-model="disability_ins" id="disability_ins">
                             <option ng-repeat="value in disability_ins_options">{{value}}</option>
                          </select> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 emplytble">
                <div class="row">
                    <div class="col-xs-7 voilet-grid">
                        % d'activité <em>:</em>
                    </div>
                    <div class="col-xs-5 grey-grid">
                            <!-- <input  type="text" currency class="form-control amount-base" ng-model="base_activity" id="base_activity" > -->
                            <span id="base_activity" ng-model="base_activity" editable-text="base_activity"> {{base_activity }} </span>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="repeat-list clearfix">
            <div class="col-md-4 emplytble">
                <div class="row">
                    <div class="col-xs-5 voilet-grid">
                       Forfait <em>:</em>
                    </div>
                    <div class="col-xs-7 grey-grid">
                        <span class="consolant">218 js/an</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 emplytble-lrg">
                <div class="row">
                    <div class="col-xs-7 voilet-grid">
                       Assurance vieillesse <em>:</em>
                    </div>
                    <div class="col-xs-5 grey-grid">
                      <a href="#" buttons="no" editable-select="oldage_ins" buttons="no"  id="oldage_ins" ng-model="oldage_ins" e-ng-options="s.value as s.text for s in oldage_ins_options">{{ showOldAgeCategory() }}</a>
                        <!-- <select class="form-control" ng-model="oldage_ins" id="oldage_ins">
                          <option ng-repeat="value in oldage_ins_options">{{value}}</option>
                        </select> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 emplytble">
                <div class="row">
                    <div class="col-xs-7 voilet-grid">
                        Heures /Mois <em>:</em>
                    </div>
                    <div class="col-xs-5 grey-grid">
                            <!-- <input  type="text" currency class="form-control amount-base" id="base_dur" ng-model="base_dur"> --> 
                            <span id="base_dur" ng-model="base_dur" editable-text="base_dur"> {{base_dur}} </span>
                    </div>
                </div>
            </div>
            
        </div>

      </div>
    <div class="main-table ">
      <div class="row header-table">
            <div class="col-xs-1 mobileVew hdng-colm">
                Rub.
            </div>
            <div class="col-xs-6">
               Libellé
            </div>
            <div class="col-xs-1 mobileVew hdng-colm">
                Base
            </div>
            <div class="col-xs-1 mobileVew">
                Taux
            </div>
            <div class="col-xs-1 hdng-colm">
               Montant
            </div>
            <div class="col-xs-1 mobileVew">
               Taux
            </div>
            <div class="col-xs-1 hdng-colm">
                Cot. Pat.
            </div>
        </div>   
        <div class="divider-table"></div>
        <div class="row body-table">
            <div class="col-xs-1 mobileVew">
                BASE
            </div>
            <div class="col-xs-6">
                  Salaire de base
            </div>
            <div class="col-xs-1 mobileVew" >
              {{(re_base_sal) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew">
             
            </div>
            <div class="col-xs-1">
               
            </div>
            <div class="col-xs-1 yellw-bg mobileVew">
               
            </div>
            <div class="col-xs-1  ">
              
            </div>
        </div>
        <div class="divider-table"></div>
        <div class="row body-table bold-text">
            <div class="col-xs-1 mobileVew">
               
            </div>
            <div class="col-xs-6">
                <strong>*** Assurance santé et Prévoyance ***</strong>
                <span id="re_base_HIns">{{(re_base_HIns) | amountformat}}   </span>
            </div>
            <div class="col-xs-1 mobileVew">
                <!-- {{(re_base_sal) | amountformat}} -->
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_tax_HI">
                {{re_tax_HI | rateformat }} %
            </div>
            <div class="col-xs-1" id="re_amount_HIns">
                {{(re_amount_HIns) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate2_HIns">
                {{re_Rate2_HIns| rateformat }} %  
            </div>
            <div class="col-xs-1  " id="re_cot_pat_HI">
              {{(re_cot_pat_HI) | amountformat}}
            </div>
        </div>
        <div ng-hide="visible_Ins == '0'"  class="row body-table">
            <div class="col-xs-1 mobileVew">
                AM-RG
            </div>
            <div class="col-xs-6">
                Assurance Maladie
            </div >
            <div class="col-xs-1 mobileVew">
                {{(re_base_sal) | amountformat}}
            </div >
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_Ins">
                {{re_Rate_Ins| rateformat }} %  
            </div>
            <div class="col-xs-1" id="re_amount_ins">
                {{(re_amount_ins) | amountformat}}
            </div >
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate2_Ins">
                {{re_Rate2_Ins| rateformat }} %
            </div>
            <div class="col-xs-1  " id="re_cot_pat_ins">
                {{(re_cot_pat_ins) | amountformat}}
            </div>
        </div>

        <div ng-hide="visible_CI == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
                ATMP
            </div>
            <div class="col-xs-6">
                   Cotisations Accidents du Travail / Maladie Professionnelle
            </div>
            <div class="col-xs-1 mobileVew">
               {{(re_base_sal) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew">
              
            </div>
            <div class="col-xs-1">
              
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_CI">
                {{re_Rate_CI | rateformat }} %  
            </div>
            <div class="col-xs-1  " id="re_cot_pat_CI">
              {{(re_cot_pat_CI) | amountformat}}
            </div>
        </div>

        <div  ng-hide="visible_PHI == '0'" class="row body-table extra-height">
            <div class="col-xs-1 mobileVew">
                AM-P
            </div>
            <div class="col-xs-6">
                Assurance maladie financée directement par le salarié (obligatoire)
            </div>
            <div class="col-xs-1 mobileVew" id="re_Base_PHI">
               
            </div>
            <div class="col-xs-1 yellw-bg mobileVew">
                
            </div>
            <div class="col-xs-1">
                
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate2_PHI">
                 
            </div>
            <div class="col-xs-1  " id="re_cot_pat_PHI">
                 
            </div>
        </div>
        <div  ng-hide="visible_FEP == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
                PREV-P
            </div>
            <div class="col-xs-6">
                Prévoyance financée directement par le salarié (recommandé)
            </div>
            <div class="col-xs-1 mobileVew" id="re_Base_PHI">
             
            </div>
            <div class="col-xs-1 yellw-bg mobileVew">
                
            </div>
            <div class="col-xs-1">
                
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate2_PHI">
             
            </div>
            <div class="col-xs-1  " id="re_cot_pat_PHI">
             
            </div>
        </div>
        <div ng-hide="visible_GSC == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
                CSG
            </div>
            <div class="col-xs-6">
                  Contribution Sociale Généralisée non imposable
            </div>
            <div class="col-xs-1 mobileVew" >
                {{(re_base_sal) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_GSC">
                {{re_Rate_GSC| rateformat }} %
            </div>
            <div class="col-xs-1" id="re_amount_GSC" id="re_amount_GSC">
                {{(re_amount_GSC) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew">
                
            </div>
            <div class="col-xs-1  ">
                
            </div>
        </div>
        
        
        <div ng-hide="visible_CRTSD == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
                CRDS
            </div>
            <div class="col-xs-6">
                    Contribution pour le Remboursement de la Dette Sociale imposable
            </div>
            <div class="col-xs-1 mobileVew" >
                {{(re_base_sal) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_CRTSD">
               {{re_Rate_CRTSD| rateformat }} %
            </div>
            <div class="col-xs-1" id="re_amount_CRTSD">
               {{(re_amount_CRTSD) | amountformat}}   
            </div>
            <div class="col-xs-1 yellw-bg mobileVew">
                
            </div>
            <div class="col-xs-1  ">
                
            </div>
        </div>  
        
        
        <div ng-hide="visible_MC == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
                AM-C
            </div>
            <div class="col-xs-6">
                   Mutuelle complémentaire
            </div>
            <div class="col-xs-1 mobileVew">
               {{(re_base_sal) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew">
              
            </div>
            <div class="col-xs-1">
              
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_MC">
                {{re_Rate_MC| rateformat }} %
            </div>
            <div class="col-xs-1  " id="re_cot_pat_MC">
                {{(re_cot_pat_MC) | amountformat}}
            </div>
        </div>

        <div ng-hide="visible_SS == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
                PR-C
            </div>
            <div class="col-xs-6">
                   Prévoyance complémentaire
            </div>
            <div class="col-xs-1 mobileVew">
               {{(re_base_sal) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew">
              
            </div>
            <div class="col-xs-1">
              
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate2_SS">
                {{re_Rate2_SS| rateformat }} %
            </div>
            <div class="col-xs-1  " id="re_cot_pat_SS">
                {{(re_cot_pat_SS) | amountformat}}
            </div>
        </div>
        
        
        <!-- <div class="divider-table"></div>
        <div class="row body-table bold-text">
            <div class="col-xs-1 mobileVew">
                
            </div>
            <div class="col-xs-6">
                <strong>*** Assurance décès, invalidité & arrêt de travail ***</strong>
                <span id="re_cot_pat_AD">{{(re_cot_pat_AD) | amountformat}}</span>
            </div>
            <div class="col-xs-1 mobileVew">
               
            </div>
            <div class="col-xs-1 yellw-bg mobileVew">
              
            </div>
            <div class="col-xs-1">
              
            </div>
            <div class="col-xs-1 yellw-bg mobileVew">
                1,100 %
            </div>
            <div class="col-xs-1  " id="re_cot_pat_AD">
                {{(re_cot_pat_AD) | amountformat}}
            </div>
        </div> -->
        
        <!-- <div ng-hide="visible_PP == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
                ATMP-P
            </div>
            <div class="col-xs-6">
                  Prévoyance privée
            </div>
            <div class="col-xs-1 mobileVew">
               {{(re_base_sal) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew">
              
            </div>
            <div class="col-xs-1">
              
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_PP">
                {{re_Rate_PP | rateformat }} %
            </div>
            <div class="col-xs-1  " id="re_cot_pat_PP">
               {{(re_cot_pat_PP) | amountformat}}
            </div>
        </div> -->
        <div class="divider-table"></div>
        <div class="row body-table bold-text">
            <div class="col-xs-1 mobileVew">
                
            </div>
            <div class="col-xs-6">
                  <strong>  *** Assurance chomage ***</strong>
                <span id="re_base_UI" >{{(re_base_UI) | amountformat}}</span>
            </div>
            <div class="col-xs-1 mobileVew">
               
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_UI">
              {{re_Rate_UI | rateformat }} %
            </div>
            <div class="col-xs-1" id="re_amount_UI">
              {{(re_amount_UI) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate2_UI">
                {{re_Rate2_UI | rateformat }} %
            </div>
            <div class="col-xs-1  " id="re_cot_pat_UI">
               {{(re_cot_pat_UI) | amountformat}}
            </div>
        </div>
        <div ng-hide="visible_PE == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
                PE
            </div>
            <div class="col-xs-6">
                  Pole Emploi
            </div>
            <div class="col-xs-1 mobileVew">
               {{(re_base_mutual_com) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_PE">
              {{re_Rate_PE | rateformat }} %
            </div>
            <div class="col-xs-1" id="re_amount_PE">
              {{(re_amount_PE) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_PE2">
                {{re_Rate_PE2 | rateformat }} %
            </div>
            <div class="col-xs-1  " id="re_cot_pat_PE">
                {{(re_cot_pat_PE) | amountformat}}
            </div>
        </div>
        <div ng-hide="visible_AREG == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
                AGS
            </div>
            <div class="col-xs-6">
                   Assoc. pour la gest. du rég. de Garantie des créances des Salariés
            </div>
            <div class="col-xs-1 mobileVew">
              {{(re_base_mutual_com) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew">
              
            </div>
            <div class="col-xs-1 ">
              
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_AREG">
                {{re_Rate_AREG | rateformat }} %
            </div>
            <div class="col-xs-1  " id="re_cot_pat_AREG">
                {{(re_cot_pat_AREG) | amountformat}}
            </div>
        </div>

        <div ng-hide="visible_AEE == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
               APEC
            </div>
            <div class="col-xs-6">
                    Association Pour l’Emploi des Cadres
            </div>
            <div class="col-xs-1 mobileVew">
               {{(re_base_mutual_com) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_AEE">
             {{re_Rate_AEE | rateformat }} %
            </div>
            <div class="col-xs-1" id="re_amount_AEE">
              {{(re_amount_AEE) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_AEE2">
                {{re_Rate_AEE2 | rateformat }} %
            </div>
            <div class="col-xs-1  " id="re_cot_pat_AEE">
                {{(re_cot_pat_AEE) | amountformat}} 
            </div>
        </div>

        <div ng-hide="visible_AC_P == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
               AC-P
            </div>
            <div class="col-xs-6">
                    Assurance chômage financée directement par le salarié (optionnel)
            </div>
            <div class="col-xs-1 mobileVew">
               {{re_base_mutual_com}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_AEE">
             
            </div>
            <div class="col-xs-1" id="re_amount_AEE">
              
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_AEE2">
                
            </div>
            <div class="col-xs-1  " id="re_cot_pat_AEE">
                
            </div>
        </div>

        <div class="divider-table"></div>
        <div class="row body-table bold-text">
            <div class="col-xs-1 mobileVew">
                
            </div>
            <div class="col-xs-6">
                  <strong>*** Assurance vieillesse ***</strong>
                    <span id="re_oldage_ins_base">{{(re_oldage_ins_base) | amountformat}}</span>
            </div>
            <div class="col-xs-1 mobileVew">
               
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_Old_Age_Ins">
              {{re_Rate_Old_Age_Ins | rateformat }} %
            </div>
            <div class="col-xs-1" id="re_amount_Old_Age_Ins">
              {{(re_amount_Old_Age_Ins) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate2_Old_Age_Ins">
                {{re_Rate2_Old_Age_Ins | rateformat }} %
            </div> 
            <div class="col-xs-1  " id="re_cot_Pat_Old_Age_Ins">
               {{(re_cot_Pat_Old_Age_Ins) | amountformat}}
            </div>
        </div>
        <div ng-hide="visible_AV_P == '0'" class="row body-table">
            
            <div class="col-xs-1 mobileVew">
                   AV-PL
            </div>
            <div class="col-xs-6">
              Assurance vieillesse plafonnée
            </div>
            <div class="col-xs-1 mobileVew" id="re_base_Capped_pension_ins">
              {{(re_base_Capped_pension_ins) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_AV_P">
              {{re_Rate_AV_P | rateformat }} %
            </div>
            <div class="col-xs-1" id="re_amount_AV_P">
               {{(re_amount_AV_P) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate2_AV_P">
                {{re_Rate2_AV_P | rateformat }} %
            </div>
            <div class="col-xs-1  " id="re_cot_pat_AV_P">
                {{(re_cot_pat_AV_P) | amountformat}}
            </div>
        </div>
        <div ng-hide="visible_AV_DP == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
                AV-DP
            </div>
            <div class="col-xs-6">
                   Assurance vieillesse déplafonnée
            </div>
            <div class="col-xs-1 mobileVew">
              {{(re_base_sal) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_AV_DP">
              {{re_Rate_AV_DP | rateformat }} %
            </div>
            <div class="col-xs-1" id="re_amount_AV_DP">
              {{(re_amount_AV_DP) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate2_AV_DP">
                {{re_Rate2_AV_DP | rateformat }} %
            </div>
            <div class="col-xs-1  " id="re_cot_pat_AV_DP">
                {{(re_cot_pat_AV_DP) | amountformat}} 
            </div>
        </div>
        
        
        
        
        <div ng-hide="visible_ARRCO_T1 == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
                ARRCO-T1
            </div>
            <div class="col-xs-6">
                  Assoc. pour le Rég. de Retraite COmplémentaire des salariés (T1)
            </div>
            <div class="col-xs-1 mobileVew" id="re_base_Capped_pension_ins">
              {{(re_base_Capped_pension_ins) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_ARRCO_T1">
              {{re_Rate_ARRCO_T1 | rateformat }} %
            </div>
            <div class="col-xs-1" id="re_amount_ARRCO_T1">
              {{(re_amount_ARRCO_T1) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate2_ARRCO_T1">
               {{re_Rate2_ARRCO_T1 | rateformat }} %
            </div>
            <div class="col-xs-1  " id="re_cot_pat_ARRCO_T1">
               {{(re_cot_pat_ARRCO_T1) | amountformat}} 
            </div>
        </div>
        <div ng-hide="visible_ARRCO_T2 == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
                ARRCO-T2
            </div>
            <div class="col-xs-6">
                  Assoc. pour le Rég. de Retraite COmplémentaire des salariés (T2)
            </div>
            <div class="col-xs-1 mobileVew" id="re_base_Complementary_Pensions_eT2">
              {{(re_base_Complementary_Pensions_eT2) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_ARRCO_T2">
              {{re_Rate_ARRCO_T2 | rateformat }} %
            </div>
            <div class="col-xs-1" id="re_amount_ARRCO_T2">
              {{(re_amount_ARRCO_T2) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate2_ARRCO_T2">
               {{re_Rate2_ARRCO_T2 | rateformat }} %
            </div>
            <div class="col-xs-1  " id="re_cot_pat_ARRCO_T2">
                {{(re_cot_pat_ARRCO_T2) | amountformat}}
            </div>
        </div>
        <div ng-hide="visible_ARRCO_TB == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
                 AGIRC-TB
            </div>
            <div class="col-xs-6">
                  Association Générale des Institutions de Retraite des Cadres (TB)
            </div>
            <div class="col-xs-1 mobileVew" id="re_base_Pension_Institutions_Fra_TB">
              {{(re_base_Pension_Institutions_Fra_TB) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_ARRCO_TB">
              {{re_Rate_ARRCO_TB | rateformat }} %
            </div>
            <div class="col-xs-1" id="re_amount_ARRCO_TB">
             {{(re_amount_ARRCO_TB) | amountformat}}  
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate2_ARRCO_TB">
                {{re_Rate2_ARRCO_TB | rateformat }} %
            </div>
            <div class="col-xs-1  " id="re_cot_pat_ARRCO_TB">
                {{(re_cot_pat_ARRCO_TB) | amountformat}}
            </div>
        </div>
        <div ng-hide="visible_ARRCO_TC == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
                AGIRC-TC
            </div>
            <div class="col-xs-6">
                  Association Générale des Institutions de Retraite des Cadres (TC)
            </div>
            <div class="col-xs-1 mobileVew" id="re_base_ARRCO_TC">
              {{re_base_ARRCO_TC | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_ARRCO_TC">
             {{re_Rate_ARRCO_TC | rateformat }} %
            </div>
            <div class="col-xs-1" id="re_amount_ARRCO_TC">
             {{(re_amount_ARRCO_TC) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate2_ARRCO_TC">
               {{re_Rate2_ARRCO_TC | rateformat }} %
            </div>
            <div class="col-xs-1  " id="re_cot_pat_ARRCO_TC">
                {{(re_cot_pat_ARRCO_TC) | amountformat}}
            </div>
        </div>
        <div ng-hide="visible_CET == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
               CET
            </div>
            <div class="col-xs-6">
                  Contribution Exceptionnelle et Temporaire
            </div>
            <div class="col-xs-1 mobileVew">
              {{(re_base_sal) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_CET">
              {{re_Rate_CET | rateformat }} %
            </div>
            <div class="col-xs-1" id="re_amount_CET">
             {{(re_amount_CET) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate2_CET">
               {{re_Rate2_CET | rateformat }} %
            </div>
            <div class="col-xs-1  " id="re_cot_pat_CET">
               {{(re_cot_pat_CET) | amountformat}}
            </div>
        </div>
        <div ng-hide="visible_AGFF_T1 == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
                AGFF-T1
            </div>
            <div class="col-xs-6">
                 Assoc. pour la Gest. du Fonds de Fin. de lAGIRC et de lARRCO (T1)
            </div>
            <div class="col-xs-1 mobileVew" id="re_base_Capped_pension_ins">
             {{(re_base_Capped_pension_ins) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_AGFF_T1">
              {{re_Rate_AGFF_T1 | rateformat }} %
            </div>
            <div class="col-xs-1" id="re_amount_AGFF_T1">
             {{(re_amount_AGFF_T1) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate2_AGFF2_T1">
               {{re_Rate2_AGFF2_T1 | rateformat }} %
            </div>
            <div class="col-xs-1  " id="re_cot_pat_AGFF_T1">
                {{(re_cot_pat_AGFF_T1) | amountformat}}
            </div>
        </div>

        <div ng-hide="visible_AGFF_T2 == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
                AGFF-T2
            </div>
            <div class="col-xs-6">
                  Assoc. pour la Gest. du Fonds de Fin. de lAGIRC et de lARRCO (T2)
            </div>
            <div class="col-xs-1 mobileVew" id="re_base_Complementary_Pensions_eT2">
             {{(re_base_Complementary_Pensions_eT2) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_AGFF_T2">
              {{re_Rate_AGFF_T2 | rateformat }} %
            </div>
            <div class="col-xs-1" id="re_amount_AGFF_T2">
             {{(re_amount_AGFF_T2) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate2_AGFF2_T2">
                {{re_Rate2_AGFF2_T2 | rateformat }} %
            </div>
            <div class="col-xs-1  " id="re_cot_pat_AGFF_T2">
               {{(re_cot_pat_AGFF_T2) | amountformat}}
            </div>
        </div>

        <div ng-hide="visible_AV_P2 == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
                AV-P
            </div>
            <div class="col-xs-6">
                  Assurance vie financée directement par le salarié (obligatoire)
            </div>
            <div class="col-xs-1 mobileVew" id="re_base_Complementary_Pensions_eT2">
             
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_AGFF_T2">
              
            </div>
            <div class="col-xs-1" id="re_amount_AGFF_T2">
             
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate2_AGFF2_T2">
                
            </div>
            <div class="col-xs-1  " id="re_cot_pat_AGFF_T2">
               
            </div>
        </div>

        <div class="divider-table"></div>
        <div class="row body-table bold-text">
            <div class="col-xs-1 mobileVew">

            </div>
            <div class="col-xs-6">
                   <strong>*** Autres cotisations et contributions sociales ***</strong>
                     <span id="re_OSSC">{{(re_OSSC) | amountformat}}</span>
            </div>
            <div class="col-xs-1 mobileVew">
              
            </div>
            <div class="col-xs-1 yellw-bg mobileVew">
             
            </div>
            <div class="col-xs-1">
              
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_OSSC">
                {{re_Rate_OSSC | rateformat }} %
            </div>
            <div class="col-xs-1  ">
               {{(re_cot_pat_OSSC) | amountformat}}
            </div>
        </div>
        <div ng-hide="visible_FAC == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
                CAF
            </div>
            <div class="col-xs-6">
                   Cotisations d'Allocations Familiales
            </div>
            <div class="col-xs-1 mobileVew">
              {{(re_base_sal) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew">
             
            </div>
            <div class="col-xs-1">
            
            </div>

            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_FAC">
               {{re_Rate_FAC | rateformat }} %
            </div>
            <div class="col-xs-1  " id="re_cot_pat_FAC">
                {{(re_cot_pat_FAC) | amountformat}}
            </div>
        </div>
        <div ng-hide="visible_ASC == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
               CSA
            </div>
            <div class="col-xs-6">
                  Contribution Solidarité Autonomie
            </div>
            <div class="col-xs-1 mobileVew">
              {{(re_base_sal) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew">
              
            </div>
            <div class="col-xs-1">
            
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_ASC">
                {{re_Rate_ASC | rateformat }} %
            </div>
            <div class="col-xs-1  " id="re_cot_pat_ASC">
                {{(re_cot_pat_ASC) | amountformat}}
            </div>
        </div>
        
        
        
        <div ng-hide="visible_NHAF == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
               FNAL
            </div>
            <div class="col-xs-6">
                  Fonds National d'Aide au Logement
            </div>
            <div class="col-xs-1 mobileVew" id="re_base_NHAF">
              {{(re_base_NHAF) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew">
              
            </div>
            <div class="col-xs-1">
            
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_NHAF">
               {{re_Rate_NHAF | rateformat }} %
            </div>
            <div class="col-xs-1  " id="re_cot_pat_NHAF">
               {{(re_cot_pat_NHAF) | amountformat}}
            </div>
        </div>
        <div ng-hide="visible_SP == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
               FORF-SOC
            </div>
            <div class="col-xs-6">
                  Forfait Social
            </div>
            <div class="col-xs-1 mobileVew" id="re_base_SP">
              {{(re_base_SP) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew">
              
            </div>
            <div class="col-xs-1">
            
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_SP">
                {{re_Rate_SP | rateformat }} %
            </div>
            <div class="col-xs-1  " id="re_cot_pat_SP">
                  {{(re_cot_pat_SP) | amountformat}}
            </div>
        </div>
        <div class="divider-table"></div>
        <div class="row body-table bold-text">
            <div class="col-xs-1 mobileVew">
               
            </div>
            <div class="col-xs-6">
               <strong>*** Autres taxes et participations ***</strong>
               <span id="re_OTAE">{{(re_OTAE) | amountformat}}</span>
            </div>
            <div class="col-xs-1 mobileVew">
              
            </div>
            <div class="col-xs-1 yellw-bg mobileVew">
              
            </div>
            <div class="col-xs-1">
            
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_OTAE">
               {{re_Rate_OTAE | rateformat }} %
            </div>
            <div class="col-xs-1  " id="re_cot_pat_OTAE">
                {{(re_cot_pat_OTAE) | amountformat}}
            </div>
        </div>
        <div ng-hide="visible_PT == '0'" class="row body-table">
            <div class="col-xs-1 mobileVew">
              VT
            </div>
            <div class="col-xs-6">
                    Versement Transport (Versailles)
            </div>
            <div class="col-xs-1 mobileVew">
             {{(re_base_sal) | amountformat}}
            </div>
            <div class="col-xs-1 yellw-bg mobileVew">
              
            </div>
            <div class="col-xs-1">
            
            </div>
            <div class="col-xs-1 yellw-bg mobileVew" id="re_Rate_PT">
                {{re_Rate_PT | rateformat }} %
            </div>
            <div class="col-xs-1  " id="re_cot_pat_PT">
                {{(re_cot_pat_PT) | amountformat}}
            </div>
        </div>
        
        
    </div>
    <div class="row mrg-row">
        <div class="col-md-3 space-hide">
          <div class="bs-example hrzntl-algin align-grid-first">
        <!--  <h2>Horizontal Definition Lists</h2>-->
                <dl class="dl-horizontal">
                    <dt>Net à payer <em>:</em></dt>
                    
                    <dd id="re_Net_Cash">{{(re_Net_Cash) | amountformat}}</dd>
                 </dl>   
                 <dl class="dl-horizontal">
                    <dt>Net imposable <em>:</em></dt>
                    <dd id="re_Net_taxable">{{(re_Net_taxable) | amountformat}}</dd>
                  </dl>
                  <dl class="dl-horizontal">  
                    <dt>Salaire total <em>:</em></dt>
                    <dd id="re_Total_wages">{{(re_Total_wages) | amountformat}}</dd>
                  </dl>
                  <dl class="dl-horizontal">  
                    <dt>Frais (NDF) <em>:</em></dt>
                    <dd id="re_NDF">{{(re_NDF) | amountformat}}</dd>
                  </dl>  
            </div>  
        </div>
        <div class="col-md-5">
          <div class="bs-example hrzntl-algin dt-size">
        <!--  <h2>Horizontal Definition Lists</h2>-->
                <dl class="dl-horizontal">
                    <dt>Versement URSAFF :</dt>
                    
                    <dd id="re_Payment_URSAFF">{{(re_Payment_URSAFF) | amountformat}}</dd>
                 </dl>   
                 <dl class="dl-horizontal">
                    <dt>Versement AGIRC-ARRCO :</dt>
                    <dd id="re_Payment_AGIRC_ARRCO"> {{(re_Payment_AGIRC_ARRCO) | amountformat}}</dd>
                  </dl>
                  <dl class="dl-horizontal">  
                    <dt>Versement mutuelles privées :</dt>
                    <dd id="re_Private_Mutual_Pay">{{(re_Private_Mutual_Pay) | amountformat}}</dd>
                  </dl>
                  <dl class="dl-horizontal">  
                    <dt>Versement salarié :</dt>
                    <dd id="re_Private_Mutual_Pay">{{(re_Employee_payment) | amountformat}}</dd>
                  </dl>  
            </div>  
        </div>
        <div class="col-md-4">
          <div class="bs-example hrzntl-algin align-grid-chrg">
        <!--  <h2>Horizontal Definition Lists</h2>-->
                <dl class="dl-horizontal">
                    <dt>Charges Salariales <em>:</em></dt>
                    
                    <dd id="re_wages_costs">{{(re_wages_costs) | amountformat}}</dd>
                 </dl>   
                 <dl class="dl-horizontal">
                    <dt>Charges Patronales <em>:</em></dt>
                    <dd id="re_Patron_Charges">    {{(re_Patron_Charges) | amountformat}}</dd>
                  </dl>
                  
            </div>  
        </div>
  </div> 
  <div class="notes">
      <p>Nous vous recommandons de conserver votre bulletin de paie, sans limitation de durée.</p>
    </div>
  <!-- <button class="btn btn-primary exported"  id="downloadPdf"   style="float:right">{{pdfButton}}</button>
 
    <button class="btn btn-primary exported" ng-if="paymentStatus" ng-disabled="disablePdf" id="exportPdf"  ng-click="payment()" style="float:right">{{pdfButton}}</button> -->
   <!--  <button class="btn btn-primary exported" ng-disabled="disablePdf" ng-if="!paymentStatus" ng-click="payment()" style="float:right">{{pdfButton}}</button></div> -->
</div>
</div>
<br/><br/>
<div class="clearfix"></div>
 <footer class="footer">
   <div class="container">
      <div class="row">
      <p>Copyright (c) 2015 by <a target="_blank" href="http://www.mydigilife.com"> MYDIGILIFE </a>- Tous Droits Réservés</p>
    </div>
   </div>
 </footer>
<script src="javascripts/external.js"></script>
<script src="javascripts/libs/angular.min.js" type="text/javascript"></script>
<!-- x-editable scripts -->
<link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<!-- ui bootstrap -->
<script src="javascripts/libs/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
<!-- <script src='bower_components/angular-mask/dist/ngMask.min.js'></script> -->
<!--<script src="assets/js/angular.min.js.map"></script>-->
<script src="javascripts/app.js" type="text/javascript"></script>
</body>
</html>
