<!DOCTYPE html>
<html lang="fr">
 <head>
 <% include /layouts/head %>  
 </head>


<body class="corporate features">

	<% include /layouts/header %>

  <div id="feature-security">

  <section id="hero" class="first-section text-center text-white gradient-indigo">
    <div class="container">
      <div class="row no-border">
        <div class="col-xs-12 first-section-content">
          <h4 class="text-white">Fonctionnalités</h4>
          <h1>Vos données sont en sécurité</h1>
        </div>
      </div>
    </div>
  </section>

  <div class="container-fluid" id="corporate-subnav">
  <div id="corporate-subnav-container">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="subnav-header">
        <button type="button" class="navbar-toggle">
          <span>Découvrir les fonctionnalités <b class="caret"></b></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="corporate-subnav-bar">
        <ul class="nav navbar-nav">
          <li>
            <a href="fonctionnalites.html" class="">Liste complète</a>
          </li>
          <li>
            <a href="employes.html" class="">Employés</a>
          </li>
          <li>
            <a href="automatique.html" class="">Automatique</a>
          </li>
          <li>
            <a href="avance.html" class="">Avancé</a>
          </li>
          <li>
            <a href="support.html" class="">Support</a>
          </li>
          <li>
            <a href="securite.html" class="current">Sécurité</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>


  <section class="intro">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <p class="text-large">
            Nous avons construit un système sur pour héberger vos données en toute sécurité.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="encryption" class="header-left">
    <div class="container">
      <div class="row top-divider">
        <div class="col-sm-4">
          <h2 class="header-content">Encryption</h2>
        </div>
        <div class="col-sm-7 col-sm-offset-1">
          <ul class="col-xs-12 vertical-features">
            <li class="row">
              <div class="col-xs-1 feature-icon">
                <img alt="Encryption Icon" class="img-responsive" src="img/icon-encryption-d25e1bf3595d62b26a34d50c98df28c1.png" />
              </div>
              <div class="col-xs-10">
                <h4>Encryption SSL 256-bit</h4>
                <p>Les données que vous nous avez transmises sont conservées en sécurité grâce au plus haut standard d'encryption disponible.</p>
                <p>C'est d'ailleurs la même technologie utilisée par les banques afin de conserver vos informations bancaires en lieu sur. 
				Toutes les informations de connexions que vous définissez, y compris les mots de passe et les informations personnelles, sont protégées grâce à cette technologie.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="backup" class="header-left">
    <div class="container">
      <div class="row top-divider">
        <div class="col-sm-4">
          <h2 class="header-content">Sauvegardes</h2>
        </div>
        <div class="col-sm-7 col-sm-offset-1">
          <ul class="col-xs-12 vertical-features">
            <li class="row">
              <div class="col-xs-1 feature-icon">
                <img alt="Technology Icon" class="img-responsive" src="img/icon-lightning-9b92dc5c6af45b8e9e10aa4710d678ff.png" />
              </div>
              <div class="col-xs-10">
                <h4>Etat de l'art technologique</h4>
                <p>
                  Nous appliquons l'état de l'art dans nos opérations informatiques, notamment pour les sauvegardes et la protection, afin de garantir que vos données sont toujours disponibles, même en cas d'incident majeur.
                </p>
              </div>
            </li>
            <li class="row">
              <div class="col-xs-1 feature-icon">
                <img alt="Locations Icon" class="img-responsive" src="img/icon-locations-ae75161628a24e1c0acdde42e3520935.png" />
              </div>
              <div class="col-xs-10">
                <h4>Fréquentes & géodispersées</h4>
                <p>
                  Notre système effectue des sauvegardes au fil de l'eau et les archivent quotidiennement dans différents lieux géographiquement dispersés et hautement sécurisés.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="backup" class="header-left">
    <div class="container">
      <div class="row top-divider">
        <div class="col-sm-4">
          <h2 class="header-content">Sécurité physique</h2>
        </div>
        <div class="col-sm-7 col-sm-offset-1">
          <ul class="col-xs-12 vertical-features">
            <li class="row">
              <div class="col-xs-1 feature-icon">
                <img alt="Secure Icon" class="img-responsive" src="img/icon-lock-bb2b75c017fbc4c16b44cdec988cbe87.png" />
              </div>
              <div class="col-xs-10">
                <h4>Centre de données à haute sécurité</h4>
                <p>
                  Nos centres de données fonctionnent avec différents moyens de sécurité, comme les scanners biométriques pour les contrôles d'accès, les cartes d'accès, le scan rétinien et les authentifications par code PIN. 
				  Les caméras de sécurité surveillent les bâtiments 24/7 et il y a toujours du personnel sur site afin de se prémunir contre toutes tentatives d'intrusions.
                </p>
                <p>
                  Dans chaque bâtiment, nos serveurs sont conservés dans des racks verrouillés, et des mesures de sécurité supplémentaires ont été mises en place pour s'assurer que seuls les techniciens autorisés peuvent y accéder.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="bank-security" class="header-left">
    <div class="container">
      <div class="row top-divider">
        <div class="col-sm-4">
          <h2 class="header-content">Sécurité des données bancaires</h2>
        </div>
        <div class="col-sm-7 col-sm-offset-1">
          <ul class="col-xs-12 vertical-features">
            <li class="row">
              <div class="col-xs-1 feature-icon">
                <img alt="Private Icon" class="img-responsive" src="img/icon-private-004d562b53e3848d0d8bba563c5f4446.png" />
              </div>
              <div class="col-xs-10">
                <h4>Vos données restent confidentielles</h4>
                <p>
                  Les coordonnées bancaires que vous nous communiquez pour procéder au paiement des salaires de vos employés sont conservées avec le même niveau de sécurité que les banques utilisent. Les employés de ZenPaye n'ont jamais accès à ces informations, sauf en cas d'absolue nécessité.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="secure-steps" class="header-left">
    <div class="container">
      <div class="row top-divider">
        <div class="col-sm-4">
          <h2 class="header-content">Protégé à chaque étape</h2>
        </div>
        <div class="col-sm-7 col-sm-offset-1">
          <ul class="col-xs-12 vertical-features">
            <li class="row">
              <div class="col-xs-1 feature-icon">
                <img alt="Two-Step Authentication Icon" class="img-responsive" src="img/icon-mobile-web-d98e9e128a4f6b4e37be77fe99a1efea.png" />
              </div>
              <div class="col-xs-10">
                <h4>Double Authentication</h4>
                <p>
                  Vous avez la possibilité d'ajouter un niveau supplémentaire de sécurité à votre compte en activant la double authentification. Une fois activée, nous vous enverrons un code sur votre téléphone que vous aurez besoin de saisir afin de pouvoir vous connecter.
                </p>
              </div>
            </li>
            <li class="row">
              <div class="col-xs-1 feature-icon">
                <img alt="Inspection Icon" class="img-responsive" src="img/icon-inspect-forms-c9c888c88b00295cf2140a371d29d4cb.png" />
              </div>
              <div class="col-xs-10">
                <h4>Surveillance continue en interne</h4>
                <p>
                  La logiciel ZenPaye a été entièrement développé par nos équipes internes. Cela signifie que nous pouvons contrôler la fiabilité de chaque étape de la génération de la paie.
                </p>
                <p>
                  Notre équipe chargée de l'audit vérifie que les transactions générées concordent bien avec celles des mois précédents afin de détecter toute anomalie.
                </p>
              </div>
            </li>
            <li class="row">
              <div class="col-xs-1 feature-icon">
                <img alt="Covered Icon" class="img-responsive" src="img/icon-umbrella-8e1540dd33370fc334b8475d7d3a20a9.png" />
              </div>
              <div class="col-xs-10">
                <h4>Tous les aspects sont couverts</h4>
                <p>
                  En contrôlant tous les aspects de la sécurité, ZenPaye met tout en oeuvre pour assurer la pérénité de votre paie. Nous suivons les standards industriels en termes de protection de données et de traitement des transactions de la paie.
				 </p>
				 <p>Nous appliquons des règles strictes de fonctionnement à l'ensemble de notre société afin de vous assurer le plus haut niveau de sécurité.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="tour-nav-buttons">
    <div class="dotted-feature-arrow left"></div>
    <div class="tour-btn-left">
      <div class="tour-nav-border dotted-top"></div>
      <a href="tarif.html" class="tour-btn zen-grey">
        <h4>Tarif</h4>
        <h3>Un tarif mensuel unique &raquo;</h3>
</a>      <div class="tour-nav-border dotted-top"></div>
    </div>
  </section>

</div>

	<section id="bottom-signup-cta" class="gradient-light-gold">
		<div class="container">
			<div class="zen-rocks-header">
				<div class="zen-rocks text-center">
					<img alt="Icon-zen-rocks" src="img/icon-zen-rocks-244f5c29ad6fa91f4725d04b27201657.png" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<h3>Utilisez ZenPaye aujourd'hui</h3>
					<p>Vos 2 premiers mois sont gratuits</p>
					<form id="landing-signup-form" action="inscription.html" method="GET">
						<div class="input-append">
							<button type="submit" class="btn primary">Commencer maintenant</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>


<% include /layouts/footer %>


</body>
</html>
