<!DOCTYPE html>
<html lang="fr">

<head>
  <% include /layouts/head %>     
</head>


<body class="corporate features">

	<% include /layouts/header %>
	  
	
  
  
<div id="payroll-support">

  <section id="funtionality_hero" class="first-section text-center text-white gradient-blue">
    <div class="container">
      <div class="row no-border">
        <div class="col-xs-12 first-section-content">
          <h4 class="text-white">Fonctionnalités</h4>
          <h1>Nous sommes à votre service</h1>
        </div>
      </div>
    </div>
  </section>

  <div class="container-fluid" id="corporate-subnav">
  <div id="corporate-subnav-container">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="subnav-header">
        <button type="button" class="navbar-toggle">
          <span>Découvrir les fonctionnalités <b class="caret"></b></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="corporate-subnav-bar">
        <ul class="nav navbar-nav">
          <li>
            <a href="fonctionnalites" class="">Liste complète</a>
          </li>
          <li>
            <a href="employes" class="">Employés</a>
          </li>
          <li>
            <a href="automatique" class="">Automatique</a>
          </li>
          <li>
            <a href="avance" class="">Avancé</a>
          </li>
          <li>
            <a href="support" class="current">Support</a>
          </li>
          <li>
            <a href="securite" class="">Sécurité</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


  <section class="container-outer support-main-first-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img alt="Customer Love Icon" class="customer-love-icon" src="img/customer.png" />
          <p class="text-large padding-style">
            Notre support client basé à Paris répondra à toutes vos questions rapidement par <br/> mail ou téléphone. Votre priorité est vos employés et notre priorité est nos clients.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="support-client-testimonials">
    <div class="container top-styling">
      <div class="row">
        <div class="col-sm-7 col-md-5">

          <h2 class="col-xs-12 heading-style">Ce que disent nos clients</h2>

          <div class="col-xs-12 quote-box">
            <div class="row">
              <div class="col-xs-12">
                <div class="dotted-hr"></div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-2 col-sm-3 quote-photo">
                <img alt="" class="img-responsive" src="img/quote-photo1.jpg" />
              </div>
              <div class="col-xs-10 col-sm-9">
                <q>
                  Lorsque nous avons commençé à croître, la seule chose qui a dépassé la simplicité de <a href="#" target="_blank">@ZenPaye</a>, c'est leur incroyable support client. Vous pouvez y aller les yeux fermés.
                </q>
                <p class="author-name">
                  <span>@jacdupont</span>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-2 col-sm-3 quote-photo">
                <img alt="" class="img-responsive" src="img/quote-photo2.jpg" />
              </div>
              <div class="col-xs-10 col-sm-9">
                <q>
                  <a href="#" target="_blank">@ZenPaye</a> est super simple à utiliser et leur support client est compétent et réactif. Super service! Je recommande!
                </q>
                <p class="author-name">
                  <span>@GerardBdx</span>
                </p>
              </div>
            </div>

            <div class="row margin-top-15px">
              
            </div>
          </div>
        </div>

        <div id="email-wrapper"class="col-sm-5 col-md-6 col-md-push-1">
          <div id="email-outer email-img">
            <div class="padding">
              <div id="envelop-quote">
                <p>&ldquo; Bonjour!</p>
                <p>Je tiens à remercier toute l'équipe de ZenPaye : chaque fois que j'ai eu une question concernant la paye, votre équipe du support client s'est plié en quatre pour m'aider et a su répondre à mes questions. Merci encore! &rdquo;</p>
                <div class="dotted-hr"></div>
                <h4 class="text-center">Nicole Francomme</h4>
                <p class="text-style text-center">Gérante de ABCI Gestion</p>
              </div>
            </div>
            <div id="email-envelop-img"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="support-team-members" class="top-divider">
    <div class="container" style="padding:30px;">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2>Voici quelques membres de notre équipe d'assistance</h2>
        </div>
      </div>
      <ul class="row margin-top-30px list-unstyled">
        <li class="col-xs-6 col-sm-3 bottom-padding">
          <img alt="team1" class="img-responsive img-border" src="img/team1.jpg" />
          <h4 class="text-center">Olivier</h4>
        </li>
        <li class="col-xs-6 col-sm-3 bottom-padding">
          <img alt="team2" class="img-responsive img-border"src="img/team2.jpg" />
          <h4 class="text-center">Claire</h4>
        </li>
        <li class="col-xs-6 col-sm-3 bottom-padding">
          <img alt="team3" class="img-responsive img-border" src="img/team3.jpg" />
          <h4 class="text-center">Franck</h4>
        </li>
        <li class="col-xs-6 col-sm-3 bottom-padding">
          <img alt="team4" class="img-responsive img-border" src="img/team4.jpg" />
          <h4 class="text-center">Marc</h4>
        </li>
      </ul>
    </div>
  </section>

  <section id="tour-nav-buttons">
    <div class="dotted-feature-arrow left"></div>
    <div class="tour-btn-left">
      <div class="tour-nav-border dotted-top"></div>
      <a href="securite" class="tour-btn zen-grey">
        <h4>Suivant</h4>
        <h3>Sécurité&nbsp;&raquo;</h3>
</a>      <div class="tour-nav-border dotted-top"></div>
    </div>
  </section>

</div>

  <section id="utilize-cta" class="gradient-gold">
    <div class="container">
      <div class="zen-rocks-header">
        <div class="zen-rocks text-center">
          <img alt="Icon-zen-rocks" src="img/icon-zen-rocks.png" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <h3>Utilisez ZenPaye aujourd'hui</h3>
          <p>Vos 2 premiers mois sont gratuits</p>
          <form id="landing-signup-form" action="inscription" method="GET">
            <div class="input-append">
              <button type="submit" class="btn primary">Commencer maintenant</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>



	 <% include /layouts/footer %>
 

</body>

</html>