<!DOCTYPE html>
<html lang="fr">
 <head>
     <% include /layouts/head %>
 </head>


<body class="corporate pricing">

	   <% include /layouts/header %>

 
<section id="hero" class="first-section text-center text-white gradient-green">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 first-section-content">
        <h1>Un tarif mensuel simple</h1>
      </div>
    </div>
  </div>
</section>

<div id="pricing" class="pricing-standard">

  <section id="pricing-content" class="container-fluid">
    <div class="container" style="min-height: 600px;">
      <div class="row text-center">
        <div class="col-sm-10 col-sm-offset-1">
          <div id="price-breakdown">
            <img alt="$25 + $4 per person" class="img-responsive" src="img/price-breakdown-sm-09b1d27c49f46d5e90e8b4b8cb23d822.png" />
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4 col-md-offset-4">
          <h4>Par mois</h4>
          <!--<h4>For employees & contractors <span>per month</span></h4>-->
        </div>
      </div>

      <div class="row price-slider-wrapper">
  <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <span id="base">
      <noscript>
        €25 par société + €5 par employé
      </noscript>
      <div id="zen-slider-url" class="hidden">
        <a href="#">Request Invite</a>
      </div>
      <div id="zen-slider-contact" class="hidden">
        <a href="#">Contactez-nous pour un tarif entreprise</a>
      </div>
      <div class="zen-slider"></div>
    </span>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div id="total">
      <div class="row">
        <div class="total-text col-sm-10 col-sm-push-1 col-md-8 col-md-push-2"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-push-2">
    <p class="pricing-secondary-text">
      C'est tout! Tout est inclus.
	  <span class="span-block-md">
		<strong>Pas de couts cachés</strong> ou additionnels.
	</span>
    </p>
  </div>
</div>

      <div class="row">
        <div class="col-sm-6 col-sm-push-3 pricing-signup">
          <p><a href="inscription.html" class="btn primary">Essai gratuit</a></p>

          <p>hello@zenpaye.com</p>
        </div>
      </div>

    </div>
  </section>

  <section>
    <div class="container padding-top-none">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 dotted-hr margin-top-15px"></div>
      </div>

      <div class="row margin-top-30px">
        <div class="col-sm-6 col-sm-push-3 text-center">
          <h4>Ce qui est inclus</h4>
          <p>
            Toutes nos fonctionnalités sont incluses, aucune exception. Calcul et modification illimités des payes, paiement direct ou par virement bancaire, calcul des cotisations sociales, déclarations obligatoires et plus encore.
          </p>
          <p><a href="fonctionnalites.html" class="paragraph-cta">Voir tout ce que vous aurez</a></p>
        </div>
      </div>

    </div>
  </section>

</div>


<section id="faq-secondary" class="faq-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h2 class="text-center">Vous avez des questions ?</h2>

          <div class="faq-item">
            <h3 class="faq-question">
              Comment fonctionnent les 2 mois d'essai gratuit ?
            </h3>
            <div class="faq-answer">
              <p>
                Aucune information de paiement n'est nécessaire pour s'enregistrer à ZenPaye.
                Vos deux premiers mois sont gratuits avec création illimitée de bulletins de paie, y compris les corrections ou les versements de primes. Une fois écoulé les deux premiers mois, nous débiterons automatiquement le compte bancaire de votre société chaque mois, et vous enverrons une facture mensuelle.
                Après votre période d'essai, les tarifs commencent à seulement 29 €/mois.
              </p>


            </div>
          </div>

          <div class="faq-item">
            <h3 class="faq-question">
              Dois-je signer un contrat d'un an ou plus ?
            </h3>
            <p class="faq-answer">
              Il n'y a aucun contrat à signer &ndash; vous avez simplement à payer mensuellement ce que vous consommez. Vous pouvez annuler à tout instant sans aucune pénalité ou frais de dossier.
            </p>
          </div>

          <div class="faq-item">
            <h3 class="faq-question">
              Que se passe-t-il si j'embauche plus d'employés ?
            </h3>
            <p class="faq-answer">
              Ajouter de nouveaux employés est incroyablement facile. De plus, nous procédons automatiquement à la Déclaration Préalable A l'Embauche (DPAE) pour vous. Nous mettrons automatiquement à jour votre tarif mensuel basé sur le nombre d'employés que vous aurez payé ce mois-ci.
            </p>
          </div>

          <div class="faq-item">
            <h3 class="faq-question">
              Dois-je télécharger ou installer un logiciel pour accéder à ZenPaye ?
            </h3>
            <p class="faq-answer">
              Non, vous n'avez rien à télécharger. Vous pouvez accéder au système de paie en ligne quand vous le souhaitez depuis n'importe quel périphérique connecté à Internet. Ceci comprend les ordinateurs, les tablettes et les smartphones.
			  Vous pourrez facilement générer vos payes, même lorsque vous êtes en vacances!
            </p>
          </div>

          <div class="faq-item">
            <h3 class="faq-question">
              Comment dois-je payer après ma période d'essai ?
            </h3>
            <p class="faq-answer">
              Après votre période d'essai gratuite, nous débiterons automatiquement le compte bancaire de votre société chaque mois et vous enverrons une facture électronique (PDF). Donc vous n'aurez pas besoin de vous inquiéter de la facturation.
            </p>
          </div>

        <div class="faq-contact">

          <p class="margin-top-45px">
              <a href="inscription.html" class="btn primary">Inscrivez-vous gratuitement</a>
          </p>
          <p>Vous avez d'autres questions ?<br />Envoyez nous un mail à <a href="mailto:hello@zenpaye.com">hello@zenpaye.com</a>.</p>

        </div>

      </div>
    </div>
  </div>
</section>


	<section id="bottom-signup-cta" class="gradient-light-gold">
		<div class="container">
			<div class="zen-rocks-header">
				<div class="zen-rocks text-center">
					<img alt="Icon-zen-rocks" src="img/icon-zen-rocks-244f5c29ad6fa91f4725d04b27201657.png" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<h3>Utilisez ZenPaye aujourd'hui</h3>
					<p>Vos 2 premiers mois sont gratuits</p>
					<form id="landing-signup-form" action="inscription.html" method="GET">
						<div class="input-append">
							<button type="submit" class="btn primary">Commencer maintenant</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>



<% include /layouts/footer %>

</body>
</html>
