<!DOCTYPE html>
<html lang="fr">
 <head>
  <% include /layouts/head %> 
 </head>

<body class="corporate features">

  <% include /layouts/header %>
  
<div class="gradient-gold-bright" id="tour-support">

  <section class="browser-screenshot first-section">
    <div class="container">

      <div class="row">
        <div class="col-md-6">

          <h5>Présentation de ZenPaye</h5>
          <h1>5. Support Client Premium</h1>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="row feature-content">
            <div class="col-xs-12">
              <p>
                Notre équipe de spécialistes paye est joignable par simple mail. Nous répondons rapidement à toutes vos questions, qu'elles concernent la règlementation, le calcul d'une paye, des taxes ou des cotisations. En un mot, vous pouvez compter sur nous!
              </p>
              <p><a class="btn-part" href="/inscription">Démarrer gratuitement</a></p>
              <div class="dotted-line"></div>
              <p class="tour-next-link">
                <a class="paragraph-cta" href="/decouvrir">Découvrir le produit</a>
              </p>

            </div>
          </div>

        </div>

        <div class="col-sm-6 tour-img chat-bubbles">
          <div class="row">
            <div class="chat-bubble bubble-sm wiggle">
              <img src="../img/chat-bubble-sm.png" class="img-responsive" alt="Chat-bubble-sm">
            </div>
            <div class="chat-bubble bubble-lg wiggle delay-3sec">
              <img src="../img/chat-bubble-lg.png" class="img-responsive" alt="Chat-bubble-lg">
            </div>
          </div>

          <div class="row">
            <span class="bubble-shadow bubble-shadow-sm"></span>
            <span class="bubble-shadow bubble-shadow-lg"></span>
          </div>
        </div>

      </div>
    </div>
  </section>

</div>



  <section id="bottom-signup-cta" class="gradient-light-gold">
    <div class="container">
      <div class="zen-rocks-header">
        <div class="zen-rocks text-center">
          <img alt="Icon-zen-rocks" src="../img/icon-zen-rocks-244f5c29ad6fa91f4725d04b27201657.png" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <h3>Utilisez ZenPaye aujourd'hui</h3>
          <p>Vos 2 premiers mois sont gratuits</p>
          <form id="landing-signup-form" action="/inscription" method="GET">
            <div class="input-append">
              <button type="submit" class="btn primary">Commencer maintenant</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>



  <% include /layouts/footer %>

</body>

</html>