<!DOCTYPE html>
<html lang="fr">
 <head>
  <% include /layouts/head %> 
  <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/font-awesome.css">
  <link rel="stylesheet" href="../css/font-awesome.css" type="text/css"/>
    <link rel="stylesheet" href="../fonts/stylesheet.css">   
    <link rel="stylesheet" href="../css/style_incription.css"> 
    <link rel="stylesheet" href="../css/auto.css">
  <link rel="stylesheet" href="../css/style3.css">  
 </head>

<body>

  <% include /layouts/header %>
<div class="gradient-green" id="tour">

  <section class="auto-screenshot">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row auto-feature">
            <div class="col-xs-12">

              <h5>Présentation de ZenPaye</h5>
              <h1 class="tarif-heading-style">1. Activer le Mode Automatique</h1>

              <p>
                Ne vous inquiétez plus de manquer une date limite. En activant le Mode Automatique, notre système établira automatiquement les fiches de paie, calculera les cotisations sociales et les taxes, et procédera à l'ensemble des virements bancaires. Vos employés et les organismes de recouvrement seront toujours payés à temps.
              </p>
              <div class="dotted-hr-light"></div>
              <p class="tour-next-link">
                <span>Suivant:</span> <a class="paragraph-cta" href="taxes">Calcul des Cotisations Sociales &amp; Taxes</a>
              </p>

            </div>
          </div>

        </div>

        <div class="col-md-6 tour-img">
          <div class="row">
          <img src="../img/autopilot-plane.png" data-at2x="../img/automatique.png" class="img-responsive autopilot-plane floating" alt="Autopilot-plane">            
          </div>
          <div class="row">
            <div class="autopilot-plane-shadow grow-shrink"></div>
          </div>
        </div>

      </div>
    </div>
  </section>

</div>


  <section id="utilize-cta" class="gradient-light-gold">
    <div class="container">
      <div class="zen-rocks-header">
        <div class="zen-rocks text-center">
          <img alt="Icon-zen-rocks" src="../img/icon-zen-rocks.png" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <h3>Utilisez ZenPaye aujourd'hui</h3>
          <p>Vos 2 premiers mois sont gratuits</p>
          <form id="landing-signup-form" action="../inscription" method="GET">
            <div class="input-append">
              <button type="submit" class="btn primary">Commencer maintenant</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <% include /layouts/footer %>

</body>

</html>