<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Mon Bulletin de Paie | mettez a jour votre navigateur</title>
    
    <style type="text/css">
@charset "utf-8";
/* CSS Document */


body {
    color: #5f666e;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100%;
    position: relative;
    text-align: center;
}

.content_container {
    margin: 0 auto;
    width: 1170px;
	margin-top:6%;
}

.main{
	width:100%;
}
.ops_text {
    font-size: 40px;
    margin-bottom: 40px;
}


.logo_img img {
    display: block;
    margin: auto auto 50px;
    outline: 0 none;
}


.main_text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}

.link_text {
    font-size: 17px;
}


.browsers_list ul {
    font-size: 13px;
    list-style: outside none none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.main_text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}


.link_text {
    font-size: 17px;
}


.browsers_list li a img {
    margin-bottom: 5px;
}


.browsers_list li a {
    color: #5f666e;
    outline: 0 none;
    text-decoration: none;
}

.browsers_list li {
    display: inline-block;
    padding: 30px;
}



/*responsive css start here*/



@media (min-width:992px) and (max-width:1199px){
	
		.content_container {
    width: 100%;
}
	
	
	
	}




@media (min-width:768px) and (max-width:991px){
	
		.content_container {
    width: 100%;
}
	
	
	}



@media (max-width:767px){
	.content_container {
    width: 100%;
}


.ops_text {
    margin-bottom: 30px;
}

.logo_img img {
    display: block;
    margin: auto auto 20px;
}

.link_text {
    font-size: 12px;
}


.main_text {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 35px;
}

.ops_text {
    font-size: 35px;
}

.browsers_list ul{
width:100%;

}

.browsers_list li{
		padding:15px;}


.browsers_list {
    margin-top: 28px;
}


	
	
	
	}



@media (max-width:480px){
	
	.browsers_list li{
		padding:0px;}
	
	
	
	}









    </style>
    
</head>

<body>

<div class="main">

<div class="content_container">
<div class="logo_img"><img src="images/logo.png" alt="payroll logo"></div>
<p class="ops_text">Woof!</p>
<p class="main_text">Il est temps de mettre à jour votre navigateur.</p>
<p class="link_text">Cliquez sur l'un des icônes et profitez de MonBulletindePaie.com.</p>


<div class="browsers_list">
<ul>
<li><a href="https://google.com/chrome/"><img src="images/chrome.png" alt="chrome"><div>Chrome 29+</div></a></li>
<li><a href="https://apple.com/safari/"><img src="images/safari.png" alt="safari"><div>Safari 4+</div></a></li>
<li><a href="https://mozilla.org/firefox/"><img src="images/firefox.png" alt="firefox"><div>Firefox 24+</div></a></li>
<li><a href="http://windows.microsoft.com/en-us/internet-explorer/browser-ie/"><img src="images/ie.png" alt="Internet Explorer"><div>IE 9+</div></a></li>
<li><a href="https://www.opera.com/"><img src="images/opera.png" alt="opera 4+"><div>Opera 16+</div></a></li>
</ul>
</div>




</div>

</div>


</body>
</html>
